.am-header .am-header-left {
    left: 20%;
}
.header .right {
    right: 20%;
}
.bag1 img{
	margin-top: 0;
}
header{
	position: absolute;
	top: 0;
}
.header {
	background: #fff;
	position: relative;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #DEDEDE;
	height: 40px;
	line-height: 40px;
	padding: 0 5px;
}