@charset "utf-8";
body {
	background-color: #f5f7f6;
}

.am-icon-angle-left {
	color: #a7afc2;
	font-size: 27px;
}

.news-box {
	padding-left: 1.2rem;
	height: 3.2rem;
	background: #ffe98d;
	position: relative;
	text-align: left;
}

.news-box p.t1 {
	position: relative;
	padding-left: 2rem;
	padding-top: 1rem;
}

.news-box p {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-size: 12px;
	line-height: 12px;
	color: #96740a;
}

.news-box .tips-jump {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.news-box .tips-close {
	position: absolute;
	top: 0;
	right: 1rem;
	z-index: 5;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	width: 3.6rem;
	height: 3.2rem;
}

.news-box .tips-close:after {
	content: '';
	display: block;
	width: 1rem;
	height: 1rem;
	background: url(http://cres2.fenqile.cn/chong_m/img/mobile/btn_close--38faf94b08.png) no-repeat;
	background-size: contain;
}


/*轮播图*/

.am-control-paging {
	display: none;
}

.top3 {
	margin-bottom: 0.8rem;
	background-color: #FFFFFF;
	position: relative;
}

.white {
	background-color: #FFFFFF;
}

.top3 input {
	width: 100%;
	border: 0;
	padding: 1.6rem 1.1rem 1.6rem 1rem;
	opacity: 0;
	outline: 0;
}

.munb {
	padding: 1.1rem 1.1rem 1.1rem 0;
	color: #b5bbc4;
	margin-left: 1.2rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 95%;
}

.num {
	color: #1e1e1e;
	font-size: 2.2rem;
}

.num_te {
	color: #b5bbc4;
	font-size: 12px;
	padding-top: 1rem;
}


/*话费充值*/

.chong_tex {
	padding: 0 1.2rem .9rem;
	font-size: 1.2rem;
	color: rgba(48, 64, 80, .6);
}

.right_p {
	padding-right: 1rem;
	padding-bottom: 1rem;
}

.cz_bor {
	position: relative;
	padding-right: 0;
}

.cz_title {
	border: 1px solid #e7ebf2;
	border-radius: 2px;
	color: rgba(48, 64, 80, .4);
	font-size: 1.4rem;
	text-align: center;
	height: 5.6rem;
	padding-bottom: 1rem;
}

.cz1 {
	font-size: 1.4rem;
	color: #394050;
	margin-bottom: .3rem;
}

.cz2,
.cz3 {
	color: rgba(48, 64, 80, .4);
	font-size: 1.4rem;
}

.cz3 {
	padding-top: 1.5rem;
}

.discount {
	font-size: 9px;
	color: #fff;
	display: inline-block;
	height: 0;
	width: 46px;
	border-bottom: 12px solid #ed5f86;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 0.5rem;
	right: -1.1rem;
	line-height: 14px;
	text-align: center;
	z-index: 10;
}

.fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding-bottom: 0.5rem;
}

.rel {
	position: relative;
	color: #579de7;
	font-size: 1.4rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border-right: 1px solid #579de7
}

.rel2 {
	color: #579de7;
	font-size: 1.4rem;
	padding-left: 1rem;
}

.hot {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	line-height: 10px;
	font-size: 9px;
	color: #ed5f86;
	padding: 1px;
	letter-spacing: -.17px;
	margin-left: .3rem;
	width: 20px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.hot:after {
	display: block;
	content: ' ';
	height: 200%;
	width: 200%;
	box-sizing: border-box;
	border: 1px solid #ed5f86;
	border-radius: .2rem;
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.showgood1,.showgood2{
	display: none;
}
