@charset "utf-8";
body{
	line-height: 1;
	padding-bottom: 50px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix{
	clear: both;
	content: "";
	display: block;
}
.relative{
	position: relative;
}

/*返回顶部*/
.gotop{
	width: 40px;
    height: 40px;
    background: url(../img/gotop.png) no-repeat;
    background-size: 40px 40px;
    position: fixed;
    bottom: 59px;
    right: 15px;
    z-index: 50;
    /*动画*/
    transition: all .3s linear;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 0;
}
/*顶部导航条*/
.scrollspy-nav{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 44px;
    text-align: center;
    background-color: #fff;
    opacity: 0;
}
.scrollspy-nav li{
    display: inline-block;
    list-style: none;
}
.scrollspy-nav li a{
	padding: 0 5px;
    height: 98%;
    line-height: 42px;
    color: #999;
    display: inline-block;
}
.scrollspy-nav li a.am-active{
	color: #000;
	border-bottom: 1px solid #000000;
}
/*返回键*/
.return{
	position: fixed;
    width: 30px;
    height: 30px;
    z-index: 5;
    top: 7px;
    left: 13px;
}
.return img{
	width: 100%;
}
/*banner*/
.swiper{
	position: relative;
	width: 100%;
	height: 0;
    width: 100%;
    padding-bottom: 100%;
    margin-top: -40px;
}
.swiper .swiper-wrapper{
	position: absolute;
    left: 0;
    top: 0;
	height: 100%;
	width: 100%;
}
.swiper img{
	height: 100%;
}
#swiper .swiper-pagination-bullet{
	border: 1px solid #9b885f;
	background-color: transparent;
	opacity: 1;
	width: 9px;
    height: 9px;
}
#swiper .swiper-pagination-bullet-active{
	background-color: #9b885f;
}
/*价钱栏*/
.extra{
	background-color: #fff;
	margin: 20px 15px 0;
    height: 24px;
}
.extra .price{
    display: inline-block;
    font-size: 24px;
    margin-right: 6px;
    color: #9b885f;
    font-weight: 600;
    
}
.extra .oldprice{
    font-size: 13px;
    display: inline-block;
    text-decoration: line-through;
    color: #999;
    margin-right: 6px;
    vertical-align: bottom;
}
.note {
    font-size: 11px;
    color: #9b885f;
    display: inline-block;
    border: 1px solid #9b885f;
    margin: 0 5px;
    padding: 0 5px;
    height: 17px;
    line-height: 17px;
    box-sizing: border-box;
    vertical-align: bottom;
}
/*名字*/
.title{
	margin-top: 35px;
	background: #fff;	
	padding: 0 15px;
}
.title .detail {
    line-height: 21px;
    font-size: 15px;
    text-align: left;
    color: #000000;
}
.title .pre{
    font-size: 10px;
    height: 21px;
    line-height: 21px;
    color: #999;
    text-align: left;
}
/*满赠*/
.cost{
	margin: 28px 15px 0;
	text-align: left;
}
.cost .low{
	height: 29px;
	line-height: 29px;
	overflow: hidden;
}
.cost .low .left{
	display: inline-block;
    height: 14px;
    border-radius: 2px;
    font-size: 11px;
    line-height: 11px;
    color: #fff;
    border: 1px solid #9b885f;
    background-color: #9b885f;
    vertical-align: middle;
    padding: 0 5px;
    box-sizing: border-box;
    margin-right: 10px;
}
.cost .low .center{
    font-size: 13px;
    height: 29px;
    color: #333;
    display: inline-block;
    width: 70%;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*正品保证*/
.spourt{
	margin: 20px 0 15px 15px;
	width: 85%;
}
.spourt .spourt_warpper{
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.spourt .spourt_warpper li{
	float: left;
    margin: 0 10px 10px 0;
    list-style: none;
}
.spourt .spourt_warpper li .logo{
	background: url(../img/detail/spourt_logo.png) no-repeat;
	display: inline-block;
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
    vertical-align: middle;
}
.spourt .spourt_warpper li .txt{
    font-size: 12px;
    color: #666;
    display: inline-block;
    vertical-align: middle;
}
/*产品参数*/
.products{
	margin-left: 15px;
	height: 44px;
    font-size: 14px;
    color: #333;
    line-height: 44px;
}
.products .fr{
	background: url(../img/detail/products.png) no-repeat;
	display: inline-block;
    width: 7px;
    height: 13px;
    margin: 14px 17px 0 0;
    background-size: 7px 13px;
}
/*下拉框*/
.am-popup{
	top: 30%;
}
.am-popup .am-popup-hd .am-popup-title{
	font-weight: 400;
	height: 43px;
	line-height: 43px;
	font-size: 16px;
    color: #333;
}
.am-popup .am-popup-hd .am-close{
	font-weight: 400;
	font-size: 40px;
}
.am-popup .am-popup-bd{
	padding: 0;
	padding-left: 15px;	
	padding-top: 10px;
	background: #fff;
}
.am-popup .am-popup-bd ul{
	overflow: hidden;
	padding: 0;
}
.am-popup .am-popup-bd ul li{
	font-size: 13px;
    color: #999;
    list-style: none;
    min-height: 44px;
}
.am-popup .am-popup-bd ul li .ds{
	display: inline-block;
	width: 69px;
    text-align: left;
    line-height: 18px;
    white-space: nowrap;
    vertical-align: middle;
}
.am-popup .am-popup-bd ul li .ns{
	display: inline-block;
    line-height: 18px;    
    vertical-align: middle;
    text-align: left;
    width: 78%;
}
/*选择：颜色/尺码下拉框*/
.my-popup02{
	top: 30%;
}
.my-popup02 .am-popup-inner{
	padding: 0;
	height: 70%;
	overflow: hidden;
}
.poptitle{
	height: 100px;
    position: relative;
    color: #ccc;
    left: 0;
    top: 0;
    width: 100%;
    margin-bottom: 20px;
}
.poptitle .img{
	width: 95px;
    height: 95px;
    position: absolute;
    border: 1px solid #ccc;
    left: 0;
    bottom: 0;	
}
.poptitle .img img{
	height: 100%;
}
.poptitle .title{
	position: absolute;
    text-align: left;
    left: 95px;
    right: 30px;
    height: 95%;
    bottom: 0;
}
.poptitle .name {
    font-size: 12px;
    color: #333;
    padding: 15px 0 6.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.poptitle .price{
    font-family: Arial-Regular;
    font-size: 13px;
    color: #9b885f;
    padding-bottom: 13px;
}
.poptitle .regular {
    font-size: 12px;
    color: #999;
}
.poptitle .am-close{
	font-weight: 400;
	font-size: 32px;
	margin: 10px 5px 0 0 ;
}
.popcolor{
	text-align: left;
	min-height: 85px;
}
.popcolor .txt{
	font-size: 14px;
    color: #333;
    padding: 16px 0 10px;
}
.popcolor .box{
	background: #fff;
    border: 1px solid #9b885f;
    color: #9b885f;
    position: relative;
    font-size: 12px;
    line-height: 14px;
    height: 30px;
    width: 60px;
    border-radius: 3px;
}
.popcolor .box:after {
    position: absolute;
    right: -10px;
    top: -10px;
    content: " ";
    border: 10px solid transparent;
    display: inline-block;
    border-bottom-color: #9b885f;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.popsize .box{	
    line-height: 30px;
    text-align: center;
}
.my-popup02 .shop_bag{
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #9b885f;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 50px;
}
/*数量*/
.popnum .count {
	width: 110px;
}
.popnum .count .reduce,
.popnum .count .add{
	display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    color: #999;
    float: left;
    line-height: 22px;
    cursor: pointer;
    text-align: center;
	font-size: 25px;
}
.popnum .count .reduce{
	border-right: none;
}
.popnum .count .add{
	border-left: none;
}
.popnum .count .count_num{
	width: 45px;
    height: 30px;
    border: 1px solid #d7cbc6;
    line-height: 22px;
    text-align: center;
    font-size: 14px;
    outline: none;
}
/*商店*/
.shop{
	margin: 10px 15px 20px;
}
.shop .img{
	display: inline-block;
	width: 45px;
    height: 45px;
    border: 1px solid #e5e5e5;
    margin-right: 10px;    
	padding-top: 12px;
}
.shop .img img{
	width: 40px;
	height: 20px;
}
.shop .shop_name{
	display: inline-block;
	font-size: 14px;
    color: #333;
    width: 65%;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
}
.shop .txt{
	margin-left: 12px;
	font-size: 13px;
    color: #999;
    line-height: 45px;
}
.banner01{
	padding: 15px;
	overflow: hidden;
}
.swiper01{
	width: 100%;
	padding-bottom: 35px;	
}
.swiper01 .swiper-wrapper .swiper-slide{
	width: 100%;
}
.swiper01 .swiper-wrapper img{
	width: 100%;
}
.banner01 .swiper-pagination-bullet{
	width: 7px;
    height: 7px;
    margin: 0 4.5px;
    border: 1px solid #9b885f;
	background-color: transparent;
    opacity: 1;
}
.banner01 .swiper-pagination-bullet-active{
	background-color: #9b885f;
}
/*丹尼*/
.dw_name{
	padding: 15px;
    padding-bottom: 25px;
	overflow: hidden;
}
.dw_top {
	width: 100%;
    position: relative;
	overflow: hidden;
	padding-bottom: 30px;
}
.dw__top img{
	width: 100%;
}
.dw_name .name{
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 270px;
    padding: 0 10px;
    margin: auto;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    overflow: hidden;
    color: #333;
    background-color: #fff;
}
.dw_name .bottom{
	padding-top: 25px;
    font-size: 12px;
    color: #666;
    line-height: 22px;
    text-align: left;
}
/*详情*/
.details{
	margin-top: 10px;
}
.details .detail_top{
	font-size: 14px;
	text-align: center;
	height: 44px;
	width: 100%;
}
.details .img_box{
	padding: 0 15px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.details .img_box img{
	max-width: 100%;
}
.details .img_box img:nth-child(12){
	margin-top: 10px;
}
.details .good_top{
	font-size: 14px;
	text-align: center;
	height: 44px;
	width: 100%;
	line-height: 44px;
}
.details .good_box{
	padding: 0 15px 10px;
	margin-top: 15px;

}
.details .good_box img{
	max-width: 100%;
	margin-bottom: 20px;
}
.details .contain .name{
    font-size: 14px;
    color: #333;
    line-height: 18px;
    margin: 15px;
    margin-bottom: 10px;
}
.details .contain .text{
    font-size: 13px;
    color: #999;
    line-height: 20px;
    padding: 15px;
    padding-top: 0;
    margin: 0
}
/*为您推荐*/
.content .love_top{
	height: 44px;
    color: #000;
    font-size: 14px;
    width: 100%;
    text-align: center;
    line-height: 44px;
}
.content{
	width: 100%;
	overflow: hidden;
}
.content ul{
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.content li{
	width: 42%;
	margin: 10px 4%;
	overflow: hidden;
	text-align: center;
}
.content li .img{
	width: 100%;
    height: 0;
    padding-bottom: 91.5%;
    position: relative;
}
.content li .img div{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.content li .img div img{
	height: 100%;
}
.content li .txt{
	padding: 11px 0 7px;
    font-size: 12px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content li .price{
	font-family: Arial;
    font-size: 12px;
    color: #999;
    text-align: center;
    line-height: 12px;
}
/*底部导航*/
.btm {
    height: 50px;
    background: #fff;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 2;
}
.btm a,.btm span{
	display: inline-block;
	padding: 0;
}
.left2{
	border: 1px solid #ccc;
    border-right: none;
    height: 100%;
    text-align: center;
}
.lg{
	margin-top: 5px;
}
.logo1{
	width: 20px;
	height: 20px;
}
.logo1 img{
	width: 100%;
}
.text1 {
    display: block;
    margin-top: 5px;
    color: #666;
    font-size: 11px;
    width: 100%;
    height: auto;
}
.bagin,.buy{
	
	font-size: 16px;
    color: #fff;
    height: 100%;
    text-align: center;
    line-height: 50px;
}
.bagin{
	background: #ccb27f;
}
.buy{
	background: #9b885f;
}
