@charset "utf-8";
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix{
	clear: both;
	content: "";
	display: block;
}
.relative{
	position: relative;
}
body{
	padding-bottom: 50px;
}
/*返回顶部*/
.gotop{
	width: 40px;
    height: 40px;
    background: url(../img/gotop.png) no-repeat;
    background-size: 40px 40px;
    position: fixed;
    bottom: 59px;
    right: 15px;
    z-index: 50;
    /*动画*/
    transition: all .3s linear;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 0;
}
/*底部导航*/
.foot_nav{
	position: fixed!important;
    left: 0;
    bottom: 0;
    z-index: 999;
    background: #000;
    width: 100%;
    height: 48px;
}
.foot_nav li a{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #7e8c8d;
}
.foot_nav li:nth-child(1) a{
	color: #fff;
}
.foot_nav li a .iconfont{	
	font-size: 25px;
	line-height: 31px;
}
.foot_nav li:nth-child(4) a .iconfont{
	font-size: 22px;
}
.foot_nav li:last-child a .iconfont{
	font-size: 28px;
	line-height: 33px;
}
.foot_nav li a p{
	font-size: 10px;
	line-height: 12px;
	margin: 0;
}
.foot_nav li:last-child a p{
	line-height: 6px;
}
/*顶部搜索条*/
.searchTitle {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
}
.search{
	background-color: rgba(0,0,0,0);
	background: url(../img/search_bg.png) no-repeat;
	background-size: 100% 44px;
	height: 44px;
    width: 100%;
    padding-top: 8px;
}
.search .search_text{
	height: 30px;
	background-color: hsla(0,0%,100%,.25);
	border-radius: 4px;
    margin-left: 17px;
    margin-right: 16px;
   	width: 80%;
   	padding-top: 8px;
}
.search .search_text .search_logo{
	background: url(../img/search_logo.png) no-repeat;
	width: 13px;
    height: 13px;
    background-size: 13px 13px;
    margin: 0 8px;
}
.search .search_text .search_txt{
	width: 75px;
    height: 12px;
    background: url(../img/search_txt.png) no-repeat;
    background-size: 75px 12px;
}
.search .shop_car{
	background: url(../img/search_car.png) no-repeat;
	background-size: 22px 22px;
	width: 22px;
    height: 22px;
    margin-right: 17px;
    margin-top: 3px;
}
.searchTitle ul{
	transition: all .1s linear;
	height: 39px;
	background-color: #fff;
	opacity: 0;
	width: 100%;
	margin: 0;
	overflow: hidden;
}
.searchTitle ul li{
	text-align: center;
	padding: 0;
}
.searchTitle ul li a{
	padding-right: 10px;
}
.searchTitle ul li a{
	color: #7e8c8d;
    text-decoration: none;
    font-size: 15px;
    height: 100%;
    line-height: 39px;
}
/*轮播图*/
#swiper {
    width: 100%;
    height: 0;
    padding-bottom: 110%;
    overflow: hidden;
}
#swiper .swiper-slide{
	width: 100%;
}
#swiper .swiper-slide img{
	width: 100%;
}
#swiper .swiper-pagination-bullet{
	border: 1px solid #fff;
	background-color: transparent;
	opacity: 1;
	width: 9px;
    height: 9px;
}
#swiper .swiper-pagination-bullet-active{
	background-color: #fff;
}
/*轮播图下的导航*/
.fun_nav{
	background: url(../img/fun_nav.png) no-repeat;
	height: 0;
    padding-bottom: 21.5%;
    background-size: 100% 100%;
    position: relative;
}
.fun_nav ul{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
}
.fun_nav li{
	padding: 0;
	height: 100%;
}
.fun_nav li a{
	display: block;
	width: 100%;
	height: 100%;
}
/*大牌驾到*/
.fun_adv{
	margin-bottom: 3px;
    width: 100%;
    overflow: hidden;
}
.fun_adv ul li{
	padding: 0 .35rem 0.7rem 0.35rem;
}
.fun_adv li img{
	width: 100%;
    vertical-align: top;
}
/*内容*/
.content{
	width: 100%;
}
/*每个楼层*/
.content .new_con{
	margin-bottom: 10px;
}
.content .new_con a{
	display: block;
}
.content .new_con a .main_img{
	width: 100%;
    vertical-align: top;
}
.content .new_con a .trangle{
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -9px;
	border: 9px solid transparent;
	border-bottom-color: #fff;
}
.content .new_con a .txt_box{
	text-align: left;
    padding: 18px 20px 20px;
    background: #fff;
}
.content .new_con a .txt_box .name{
	font-weight: 700;
    display: block;
    font-size: 14px;
    color: #333;
    height: 18px;
    line-height: 18px;
    padding-bottom: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.content .new_con a .txt_box .detail{
	font-size: 12px;
    color: #999;
    height: 54px;
    line-height: 18px;
    margin: 20px 0 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ccc;
}
.content .new_con a .txt_box .detail01{
	font-size: 12px;
    color: #999;
    line-height: 15px;
    height: 34px;
    margin: 18px 0 0 0;
}
/*会员尊享*/
.flat01{
	padding: 10px 3.5px;
    background: #fff;
}
.flat01 ul{
	width: 100%;
	overflow: hidden;
	margin: 0;
}
.flat01 ul li{
	padding: 0 3.5px;
}
/*高级腕表*/
.swiper01 .slide01{	
	text-align: center;
	margin-bottom: 10px;
}
.swiper01 .slide01 img{
	height: 130px;
}
.swiper01 .slide01 .name{
	font-family: Aria;
    font-size: 13px;
    padding: 10px 0 5px;
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}
.swiper01 .slide01 .price{
	font-family: Aria;
    font-size: 12px;
    color: #999;
    margin: 0;
}
/*闪购*/
.flash_con{
	margin-bottom: 10px;
    background: #fff;
}
.flash_con .img_box{
	position: relative;
    height: 0;
    padding-bottom: 60.8%;
    overflow: hidden;
}
.flash_con .img_box .flag{
	background: url(../img/flash.png) no-repeat;
	position: absolute;
    width: 60px;
    height: 22px;
    background-size: 60px 22px;
    left: 5px;
    top: 10px;
}
.flash_con .img_box img{
	width: 100%;
    vertical-align: top;
}
.flash_con .txt_box{
	padding: 12px 10px;	
}
.flash_con .txt_box p{
	margin: 0;
}
.flash_con .txt_box .name_box{
	text-align: left;
	line-height: 20px;
}
.flash_con .txt_box .name_box .name{
	margin-right: 12px;
    color: #333;
    font-size: 14px;
    font-weight: 700;
}
.flash_con .txt_box .name_box .discount{
	color: #f33;
    font-size: 14px;
    font-weight: 700;
}
.flash_con .txt_box .detail{
	font-size: 13px;
    color: #999;
    line-height: 15px;
}
.content .foot_txt{
	font-size: 14px;
    color: #999;
    line-height: 15px;
    height: 15px;
    text-align: center;
    margin-bottom: 10px;
}