
.am-header{
	background: #FFFFFF;
	height: 42px;
	line-height: 42px;
}
.backle{
	font-size: 30px;
	color: #B2B2B2;
}
.am-header .am-header-title{
	font-size: 17px;
		color: #646464;
}
#vld-tooltip {
    position: absolute;
    z-index: 1000;
    padding: 5px 10px;
    background: #CC3333;
    min-width: 150px;
    color: #fff;
    transition: all 0.15s;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    display: none;
  }

  #vld-tooltip:before {
    position: absolute;
    top: -8px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -8px;
    content: "";
    border-width: 0 8px 8px;
    border-color: transparent transparent #CC3333;
    border-style: none inset solid;
  }
.login .am-form-group{
	margin:20px 10%;
}
form.login input[type=text], .login input[type=password]{
	border: 0;
	color: #9B9B9B;
	font-size: 12px;
	height: 40px;
}
.login .am-btn{
	border: 0;
	background-color: #CC3333;
	margin: 30px 10% 10px;
	width: 80%;
}
.regicon{
	width: 80%;
	margin: 0 10%;
}
.regicon a{
	color: #9b9b9b;
    font-size: 12px;
    text-decoration: underline;
}
.register .am-form-group{
	margin:10px 10%;
	width: 80%;
}
.pic{
	position: relative;
}
.piccode{
	position: absolute;
	top: 6px;
	right: 6px;
}
.mescode{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100px;
	height: 42px;
	border-radius: 5px;
	line-height: 42px;
	background-color: #CC3333;
	color: #FFFFFF;
	border: 0;
	font-size: 14px;
}
