@charset "utf-8";
body {
	background-color: #FFFFFF;
}
.relative {
    position: relative;
}
.header_p {
	background: #3b9bff;
	height: 16.5rem;
}

.header_p img {
	width: 130px;
	padding-top: 4.5rem;
}

.white2 {
	background: #FFFFFF;
}

.write {
	margin: 1.6rem 0 3rem;
}

.write1 {
	background: url(http://cres1.fenqile.cn/passport/img/m/login/icons--ab188f470a.png) no-repeat;
	width: 2rem;
	height: 2rem;
	background-size: 4.2rem auto;
	margin-right: 1.5rem;
	background-position: 0 0;
	display: inline-block;
	vertical-align: middle;
}

.am-input-group-label {
	background-color: #FFFFFF;
}

.write_1 {
	padding: 1rem 1.5rem 1rem 0;
	font-size: 1.4rem;
	color: #5f6874;
}

input {
	width: 100%;
	height: 100%;
	border: 0;
	outline: 0;
}

.write2 {
	background-position: -2.55rem 0;
}

.write3 {
	background-position: -.1rem -4.1rem;
	height: 1.2rem;
	width: 1.6rem;
}

.write4 {
	background-position: .2rem -7.2rem;
	height: 1.4rem;
}

.write5 {
	background-position: .15rem -2rem;
}

.write6 {
	background-position: -2.45rem -2rem;
}

.yz_pic {
	width: 60px;
}

.plr15 {
	padding: 0 1.5rem!important;
}

.btn_my {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	font-size: 1.6rem;
	line-height: 1.6rem;
	border-radius: 6px;
	width: 100%;
	padding: 1.35rem 0;
	background-color: #44a0ff;
	color: #fff;
	border: 1px solid #0487e3;
	box-sizing: border-box;
	font-family: microsoft yahei, "pingfang sc";
	outline: 0;
}

.kj {
	padding: 1.5rem!important;
}

.kj_login {
	font-size: 1.4rem;
	color: #3b9bff;
}

.padd2 {
	border-top: 1px solid #eaeaea;
	padding: 1.5rem 0;
}

.regist {
	font-size: 1.4rem;
	color: #3b9bff;
}

.hq {
	color: #3b9bff;
	background: #fff;
	font-size: 1.4rem;
}
.login_2{
	display: none;
}
