@charset "utf-8";
.noCart {
	padding-top: 110px;
	text-align: center;
}

.noCart img {
	width: 160px;
	margin-bottom: 48px;
}

.nocart_text {
	color: #394050;
	word-break: break-all;
	line-height: 15px;
}
.hotac{
	padding: 6px;
}
.box-link-txt {
    position: relative;
    margin: 30px 0 10px 0;
    text-align: center;
    background-size: contain;
    color: #929292;
    font-size: 13px;
}
.hotac img{
	width: 100%;
}
.moneycart_cover{
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,.3);
	z-index: 10000;
	display: none;
	
}
.cart_txt{
	background-color: #FFFFFF;
	font-size: 14px;
    color: #566272;
    line-height: 44px;
    text-align: center;
    
}
.line_cart{
	border-bottom: 1px solid #EEEEEE;
}
.cart_botto{
	position: fixed;
	left: 0;
	width: 100%;
	bottom: -141px;
	background-color: #EEEEEE;
}
.top2{
	margin-top: .8rem;
}
