.personpic {
	font-size: 17px;
	color: #fff;
	text-align: center;
	height: 230px;
	background-color: #da494f;
	background-image: url(../img/myperson.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 250px;
	padding-top: 24px;
	margin-bottom: 10px;
}

.person-r4 {
	margin-bottom: 8px;
}

.box1 {
	padding: 0;
}

.box {
	padding: 16px 14px;
	border-width: 1px 0 1px 0;
	border-image: url(../img/borderback.gif) 2 0 round;
	background: #fff;
	position: relative;
	margin-top: -1px;
}

.person .box-link {
	color: #888888;
	font-size: 14px;
}

.box-arrow {
	position: absolute;
	right: 14px;
	color: #888888;
	font-size: 21px;
	top: 8px;
}

.person a.box {
	display: inline-block;
}


/*我的订单*/

.tab ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.ordertit li {
	width: 90px;
	-webkit-box-flex: 1;
	font-size: 15px;
	border-bottom: 1px solid #f2f2f3;
	text-align: center;
	float: left;
}

.ordertit li.active {
	color: #CC3333;
	border-bottom: 2px solid #CC3333;
}

.orderlist li.tabcon:first-child {
	display: list-item;
}

.orderlist li.tabcon {
	display: none;
}

.ordertit li {
	text-decoration: none;
	color: #333;
	outline: none;
	display: inline-block;
	height: 43px;
	line-height: 43px;
	font-weight: bold;
}

.ordertit {
	width: 100%;
	display: flex;
	border-bottom: 1px solid #ccc;
	height: 44px;
	background-color: #FFFFFF;
	list-style: none;
}

.orderlist>li {
	background: #fff;
	margin-bottom: 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.orderlist .box1 {
	margin-top: 0;
	font-size: 14px;
}

.orderlist .box1 a {
	color: #666;
}

.orderlist-bag {
	padding: 0 10px;
}

.orderlist-bag-r1 {
	font-size: 14px;
}

.orderlist-bag-r1 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
}

.orderlist-bag-r1 .text-important {
	margin-left: 15px;
	font-size: 14px;
}

.text-error,
.text-important {
	color: #ff5b54 !important;
}

.goodslist>li:last-child {
	border-bottom: none;
}

.goodslist>li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 14px 0;
	border-bottom: 1px solid #e5e5e5;
	background: #fff;
}

.goodslist img {
	width: 65px;
	height: 65px;
	border: 1px solid #e0e0e0;
}

.goodslist-c2 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-left: 9px;
	margin-right: 44px;
	font-size: 14px;
	line-height: 18px;
}

.goodslist h3 {
	font-weight: normal;
	line-height: 1.5;
}

.goodslist-c1 {
	text-align: right;
}

.orderlist-num {
	font-size: 15px;
	color: #999;
	margin-bottom: 8px;
}

.goodslist .text-important {
	font-size: 15px;
	font-weight: bold;
}

.text-error,
.text-important {
	color: #ff5b54 !important;
}

.orderlist-total {
	margin: 0 10px;
	padding: 13px 0;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}

.orderlist-total .text-disable {
	margin-left: 8px;
	color: #999;
}

.orderlist-total .text-important {
	font-size: 18px;
}

.orderlist-btns {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.orderlist-btns {
	margin: 0 10px;
	padding: 14px 0;
	border-top: 1px solid #e5e5e5;
}

.orderlist-btns .btn {
	margin-left: 15px;
	font-size: 14px;
}

.btn-normal,
.btn.normal {
	background: #fff;
	border: 1px solid #c6c6c6;
	color: #666;
}

.tabcon a {
	color: #333333;
}


/*我的收藏*/

.collectlist {
	margin-top: 20px;
	background-color: #FFFFFF;
}

.collectlist ul {
	margin: 0;
	padding: 0;
}

.collectimg {
	width: 100%;
}

.am-list li {
	padding: 5px;
	border: none;
}

.am-list .collecttit {
	color: #333333;
	font-size: 16px;
}

.am-list .am-list-main span {
	color: #CC3333;
}

.addresstit {
	color: #CC3333;
	font-size: 14px;
	font-weight: 600;
	background-color: #FFFFFF;
	height: 45px;
	line-height: 45px;
	margin-bottom: 10px;
}


/*收货地址*/

.addressbox {
	background: #fff;
	color: #333333;
	padding: 15px 10px;
}

.picline {
	width: 100%;
	height: 4px;
	background-image: url(../img/addresspic.png);
	background-repeat: repeat-x;
}

.addressbox .arrow img {
	width: 16px;
}

.addaddress {
	padding: 2px;
	width: 100%;
	height: 50px;
	background-color: #FFFFFF;
	position: fixed;
	left: 0;
	bottom: 0;
}

.addaddress .adbtn {
	display: block;
	background-color: #CC3333;
	color: #FFFFFF;
	line-height: 46px;
}

.addinput {
	background-color: #FFFFFF;
}

.addinput .am-input-group {
	width: 100%;
	height: 44px;
	line-height: 44px;
	padding: 0 15px;
	border-bottom: 1px solid #dcdcdc;
}

.addinput .am-input-group input {
	border: none;
}

.addinput .am-input-group label {
	color: #b2b2b2;
}

.saveadd {
	width: 100%;
	height: 44px;
	line-height: 44px;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #CC3333;
	margin-top: 5px;
}

#picker5 {
	padding-left: 7px;
	color: #b2b2b2;
}

.picker .picker-panel .picker-choose .confirm {
	right: 0;
	color: #CC3333!important;
}

.picker .picker-panel .wheel-wrapper .wheel .wheel-scroll {
	padding: 0!important;
}

h1 {
	margin-top: 1em;
}


/*个人资料*/

.headbox {
	background-color: #FFFFFF;
	padding: 10px 15px;
	border-bottom: 1px solid #F5F5F5;
}

.changepic {
	height: 65px;
	line-height: 65px;
	font-size: 14px;
	color: #666666;
}

.am-icon-caret-down:before {
	content: "";
}

.sex p {
	padding-top: 6px;
	margin: 0;
	color: #666666;
}

.sex .am-selected {
	width: 100px;
	float: right;
}

.am-btn-default.am-active,
.am-btn-default:active,
.am-dropdown.am-active .am-btn-default.am-dropdown-toggle {
	background-image: none;
	background-color: #FFFFFF;
}

.sex .am-btn-default {
	border: none;
}

.sex .am-selected-status {
	text-align: right;
}

.birth .am-datepicker tr.am-datepicker-header {
	background-color: #fff;
	color: #000;
}

.birth .am-datepicker .am-datepicker-dow {
	color: #000;
}

.birth .choosebir {
	padding-top: 6px;
	float: right;
	text-align: right;
	border: none;
}

.am-datepicker td span.am-datepicker-old,
.am-datepicker td.am-datepicker-new,
.am-datepicker td.am-datepicker-old {
	color: #a0a0a0;
}

.birth .am-datepicker td {}

.birth .am-datepicker {
	color: #000;
}

.am-datepicker td span.am-active,
.am-datepicker td.am-active,
.am-datepicker td.am-active:hover {
	color: #dd1e16;
}

.birth .am-datepicker-next-icon:hover,
.birth .am-datepicker-prev-icon:hover {
	background-color: rgba(0, 0, 0, 0.15);
	color: #000;
}

.birth .am-datepicker {
	top: 0;
}

.birth .am-icon-caret-down:before {
	content: "";
}

.birth .am-btn {
	border: none;
	padding: 0;
	outline: none;
}

.birth .am-dropdown-toggle:focus {
	outline: none;
}

.birth .am-icon-check:before {
	content: "";
}

.birth .am-selected-list {
	width: 100%;
	background-color: #f6f6f6;
	border: none;
	margin-top: 9px;
}

.birth .am-btn-default.am-active,
.birth .am-btn-default:active,
.birth .am-btn-default:focus,
.birth .am-btn-default:hover,
.birth .am-dropdown.am-active .am-btn-default.am-dropdown-toggle {
	background-color: #fff;
}

.birth .am-selected,
.birth .am-dropdown-content {
	width: 100% !important;
}

.birth .am-dropdown-content {
	border: none;
	background: rgba(255, 255, 255, 0);
}

.birth .am-selected-list li {
	border-bottom: #e7e7e7 1px solid;
}

.am-datepicker .am-datepicker-dow {
	height: 40px;
	color: #333333;
}

.am-datepicker-select:hover {
	background: #CC3333;
	color: #FFFFFF;
}
.am-datepicker tr.am-datepicker-header {
    color: #fff;
    background: #CC3333
}
.am-datepicker-next-icon:hover, .am-datepicker-prev-icon:hover {
    background: #CC3333;
	color: #FFFFFF;
}
.nickname a{
	color: #666666;
}
.nickname input{
	border: 0;
	text-align: right;
}
