ul,li{
	list-style: none;
}
.notepic {
	background-color: #fff;
	margin-bottom: 0;
}

.notepic .am-control-nav li {
	height: 60px;
	width: auto;
}

.notepic .am-control-nav {
	height: 60px;
}

.notepic .am-control-nav img {
	width: auto;
	height: 60px;
}

.notepic .am-control-thumbs .am-active+i {
	border-top: 8px solid #e95656;
}

.notepic {
	box-shadow: none;
}

.note-container {
	padding: 0 15px;
	background-color: #FFFFFF;
}

.note-container .note-title {
	font-size: 16px;
	color: #030303;
	padding-top: 20px;
	margin-bottom: 3px;
	word-break: break-word;
	font-weight: 700;
}

.note-container .user-photo {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	margin-left: 5px;
}

.note-container .user-level {
	width: 22px;
}

.detail-text {
	padding: 5px;
}

.detail-text p {
	font-size: 14px;
	color: #292929;
	word-break: break-word;
	white-space: pre-wrap;
}

.note-time {
	padding: 5px;
	text-align: right;
	font-size: 10px;
	color: #999999;
}

.discuss-title {
	margin-top: 10px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #383838;
	background-color: #FFFFFF;
	position: relative;
	border-bottom: 1px solid #dedede;
}

.discuss-title .title-sideline {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -8px;
	width: 4px;
	height: 16px;
	background: #c33;
}

.discuss-title .title-text {
	padding-left: 15px;
}

.input-box {
	background-color: #FFFFFF;
	display: flex;
	padding: 3px 3px 3px 13px;
	border-bottom: 1px solid #e6e6e6;
}

.input-box .user-photo-wrapper {
	position: relative;
	width: 28px;
	height: 28px;
	margin-right: 10px;
}

.input-box .user-photo-wrapper .user-photo {
	width: 100%;
	height: 100%;
	border: 1px solid #e6e6e6;
	border-radius: 50%;
}

.input-box .input-button {
	color: #9B9B9B;
	width: 300px;
	height: 29px;
	padding: 10px;
	background: #F1F1F1;
	border-radius: 5px;
}
.commcon{
	padding: 5px;
	font-size: 12px;
	color: #9b9b9b;
}
.line {
	text-align: center;
	width: 100%;
	height: 49px;
	background: url(../img/line.png) center no-repeat;
}
.title span {
	vertical-align: middle;
	display: inline-block;
	width: 66px;
	overflow: hidden;
	font-size: 16px;
	color: #646464;
	white-space: nowrap;
}
 .title {
	display: inline-block;
	line-height: 49px;
	background-color: #F5F5F5;
}

 .title img {
	vertical-align: middle;
	width: 18px;
}