@charset "utf-8";
.fr {
	float: right;
}

.time_dao {
	padding: 0 15px;
	box-sizing: border-box;
	width: 100%;
	height: 80px;
	background: url(http://cres2.fenqile.cn/trade_m/img/order/head_bg--cf95e972ba.png) no-repeat center;
	background-size: 100% 100%;
	line-height: 80px;
}

.dao_txt1 {
	font-size: 16px;
	color: #394050;
}

.dao_txt2 {
	font-size: 14px;
	color: #394050;
	opacity: .8;
}

.i-address-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(http://cres1.fenqile.cn/trade_m/img/order/i_order--2ef2a73453.png) no-repeat;
	background-size: 100px 20px;
}

.addre {
	background-color: #FFFFFF;
	position: relative;
	padding: 15px 0;
	margin-right: 15px;
	height: 68px;
}

.i-locate {
	background-position: -24px 0;
	position: absolute;
	top: 50%;
	left: 19px;
	margin-top: 10px;
}

.dao_txt3 {
	color: #b4b4b4;
	font-size: 13px;
}

.line_hei {
	line-height: 22px;
}

.order-detail2 {
	background-color: #FFFFFF!important;
}

.rmb {
	font-size: 14px;
	color: #000000;
}

.fl {
	float: left;
}

li {
	border-bottom: 1px solid #EEEEEE;
}

.good_pri {
	padding: 0 1rem;
	background-color: #FFFFFF;
	height: 48px;
	line-height: 48px;
	border-bottom: 1px solid #EEEEEE;
}

.txt_dao {
	line-height: 16px;
}

.txt_dao2 {
	padding-top: 7px;
}

.copy {
	border: 1px solid #B9BDC5;
	padding: 0 12px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	color: #404757;
	border-radius: 2px;
}
.top2{
	margin-top: .8rem;
}
.top2 .good_pri{
	border: 0;
}
.good_pri img{
	width: 20px;
	vertical-align: middle;
}
.lianshang{
	vertical-align: middle;
}
.dingwe{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
.btn-box {
    background-color: white;
    padding: 9px 15px;
    color: #2c2c2c;
    border-bottom: 1px solid #EEEEEE;
    font-size: 12px;
}
.m_bo{
	margin-bottom: 58px;
}
.pay-btn,.cancel-btn{
	padding: 0 5px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin: 0 0 0 8px;
    font-size: 13px;
    color: #394050;
    min-width: 76px;
}
.btn-box a {
    display: inline-block;
     padding: 0 0; 
    border: 1px solid #EEEEEE;
    border-radius: 3px;
}
.btn-box .pay-btn{
	border: 1px solid #3b9bff;
	color: #3b9bff;
}
