.addressbox {
	background: #fff;
	color: #646464;
	padding: 15px 10px;
}

.picline {
	width: 100%;
	height: 4px;
	background-image: url(../img/addresspic.png);
	background-repeat: repeat-x;
}

.addressbox .arrow img {
	width: 16px;
}

.goodmes {
	margin-top: 20px;
	background-color: #FFFFFF;
	padding: 15px 10px;
}

.goodmes .mesleft img {
	width: 100%;
}

.goodmes .mesright .title {
	font-size: 14px;
}

.goodmes .mesright .price {
	font-size: 12px;
}

.goodbox {
	margin: 10px 0;
}

.coupon {
	background-color: #FFFFFF;
	font-size: 14px;
	color: #999999;
	margin-top: 15px;
	padding: 15px 10px;
}

.discount {
	background-color: #FFFFFF;
	font-size: 14px;
	color: #999999;
	margin-top: 15px;
	padding: 10px 10px;
}

.checkorder {
	width: 100%;
	background-color: #FFFFFF;
	font-size: 14px;
	position: fixed;
	left: 0;
	bottom: 0;
}

.okorder {
	text-align: center;
	padding: 15px 10px;
	width: 120px;
	background-color: #CC3333;
	color: #FFFFFF;
}

.checkorder .price {
	padding: 15px 10px;
	color: #CC3333;
}