@charset "utf-8";
.head {
	padding-top: 1rem;
	background-color: #3b9bff;
}

.color5 {
	color: #FFFFFF;
	padding-top: 1.3rem;
}

.am-icon-angle-left {
	color: #FFFFFF;
}

.write7 {
	background-position: -2.45rem -2rem;
}

.btn_my {
	background-color: #78baff;
	border-color: #78baff;
	color: #abd4ff;
}

.register-benefit {
	padding-bottom: 2.2rem;
	margin: 0 auto;
	min-width: 320px;
	max-width: 750px;
	box-sizing: border-box;
	margin-top: 6rem;
	z-index: -1;
}

.register-benefit ul li {
	display: inline-block;
	padding: 0 .5rem;
	font-size: 1.2rem;
}

.register-benefit ul li i.reg-ico-01 {
	background-position: 0 -5.7rem;
}

.register-benefit ul li i {
	background: url(http://cres1.fenqile.cn/passport/img/m/login/icons--ab188f470a.png) no-repeat;
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	background-size: 4.2rem auto;
	vertical-align: middle;
	margin: -.1rem .2rem 0 0;
}

.register-benefit ul li i.reg-ico-02 {
	background-position: -1.5rem -5.7rem;
}

.register-benefit ul li i.reg-ico-03 {
	background-position: -3rem -5.7rem;
}

.botto {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: none;
	border: 0;
}

.title_regi {
	text-align: center;
}

.absolu {
	position: absolute;
	top: 1rem;
	left: 1rem;
	z-index: 1050;
}

.am-form input[type=text],
.am-form input[type=password] {
	border-color: #FFFFFF;
	outline: 0;
}

.am-field-valid {
	border-color: #FFFFFF!important;
	box-shadow: none;
}

.am-form-group {
	margin-bottom: 0;
}

.am-form-group .am-alert {
	position: fixed;
	top: 50%;
	left: 50%;
	padding: .25em .625em;
	font-size: 1.3rem;
	z-index: 100;
	background-color: rgba(0, 0, 0, .3);
	color: #FFFFFF;
	border: 0;
}

.write1 {
	margin-top: 1.1rem;
}

.tips-box {
	position: fixed;
	width: 250px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	border-radius: 5px;
	opacity: 0;
	/*display: block;*/
}