/*version: 2.7.0 */
/*reset 重置浏览器默认样式*/

html,
body {
	color: #898989;
	background: #FFF;
	font-family: "Microsoft YaHei UI", "Microsoft YaHei UI Light", "微软雅黑", "宋体", Helvetica-Black-SemiBold, Tahoma, Arial, sans-serif;
	font-size: 12px;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset {
	border: solid 1px #666;
}

img {
	border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
	font-style: inherit;
	font-weight: inherit;
}

del,
ins {
	text-decoration: none;
}

li {
	list-style: none;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 14px;
}

q:before,
q:after {
	content: '';
}

abbr,
acronym {
	border: 0;
	font-variant: normal;
}

sup {
	vertical-align: baseline;
}

sub {
	vertical-align: baseline;
}

legend {
	color: #000;
}

input,
button,
textarea,
select,
optgroup,
option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

input,
button,
textarea,
select {
	*font-size: 100%;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

a {
	color: #fff;
	text-decoration: none;
}


a:focus {
	outline: thin dotted;
}


/* 改善在所有浏览器中获取焦点和悬停时的可读性: h5bp.com/h */

a:hover,
a:active {
	outline: 0;
}

.fl {
	float: left;
}

.fr {
	float: right;
}