@charset "utf-8";

.foot_nav li:nth-child(2) a{
	color: #fff;
}
/*轮播图*/
.swiper01{
	margin-top: 82px;
	width: 100%;
}
.swiper01 .swiper-slide img{
	width: 100%;
}
.swiper01 .swiper-pagination-bullet{
	border: 1px solid #fff;
	background-color: transparent;
	opacity: 1;
	width: 9px;
    height: 9px;
}
.swiper01 .swiper-pagination-bullet-active{
	background-color: #fff;
}
/*轮播图下的导航*/
.fun_nav{
	background: url(../img/shop_img/fun_nav.png) no-repeat;
	height: 0;
    padding-bottom: 21.5%;
    background-size: 100% 100%;
    position: relative;
}
.fun_nav ul{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
}
.fun_nav li{
	padding: 0;
	height: 100%;
}
.fun_nav li a{
	display: block;
	width: 100%;
	height: 100%;
}
/*内容*/
.con_box{
	margin-bottom: 10px;
	width: 100%;
	overflow: hidden;
}
.con_title{
	height: 50px;
    color: #333;
    text-align: center;
}
.con_title p{
	margin: 0;
	line-height: 1rem;
}
.con_title .name{
	font-size: 16px;
    font-weight: 700;
    padding: 7px 0;
}
.con_title .en_name{
	font-size: 13px;
    padding-bottom: 8px;
}
.con_title .en_name .line{
	display: inline-block;
	vertical-align: middle;
	height: 1px;
	margin-bottom: 2px;
    background: #333;
    width: 20px;
    line-height: 15px;
}
.con_title .en_name .txt{
	padding: 0 5px;
	font-family: PingFang SC,STHeiTisc-Light,Helvetice-Light,arial,sans-serif;
	font-size: 100%;
}
.con_adv01{
	width: 100%;
    height: 0;
    padding-bottom: 56.3%;
    position: relative;
    margin-bottom: 5px;
}
.con_adv01 a img{
	vertical-align: top;
	width: 100%;
}
.con_adv01 a .con_menu{
	position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    background: -webkit-gradient(linear,0 0,0 bottom,from(transparent),to(rgba(0,0,0,.7)));
    width: 100%;
    font-size: 22px;
    text-align: center;
    margin: 0;
}
.con_adv01 ul li{
	padding-bottom: 61.8%;
	overflow: hidden;
    height: 0;
    position: relative;
    margin-top: 7px;
}
.am-thumbnails>li {    
    padding: 0 0.5rem 0 0;
}
.con_adv01 ul li img{
	width: 100%;
	vertical-align: top;
}
.con_adv01 ul li p.txt{
	width: 97%;
	text-align: center;
	font-size: 16px;
	position: absolute;
    left: 0;
    line-height: 20px;
    bottom: 3%;
    color: #fff;
    background: -webkit-gradient(linear,0 0,0 bottom,from(transparent),to(rgba(0,0,0,.7)));
    margin: 0;
    padding: 2% 0;
}
.con_box .con_adv02{
	padding-bottom: 60.7%;
	width: 100%;
    height: 0;
    position: relative;
    margin-bottom: 5px;
    overflow: hidden;
}
.con_box .con_adv02 img{
	width: 100%;
	vertical-align: middle;
}
.con_box .con_adv02 .con_txt{
	width: 100%;
	position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    background: -webkit-gradient(linear,0 0,0 bottom,from(transparent),to(rgba(0,0,0,.7)));
    margin: 0;
    text-align: center;
    padding: 10px 0;
}
.con_box .con_adv02 .con_logo{
	display: block;
	position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
}
.con_box .con_adv02 .con_logo img{
	margin-top: 12px;
}
.swiper02 .slide01{	
	text-align: center;
	margin: 10px 0 25px;
}
.swiper02 .slide01 img{
	height: 105px;
}
.swiper02 .slide01 .name{
	font-family: Aria;
    font-size: 13px;
    padding: 10px 0 5px;
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}
.swiper02 .slide01 .price{
	font-family: Aria;
    font-size: 12px;
    color: #999;
    margin: 0;
}
.swiper02 .slide01:last-child a{
	border: 1px solid #ccc;
	display: inline-block;
	margin-top: 30px;
}
.all_buy ul li{
	height: auto;
	overflow: hidden;
}
.all_buy ul a{
	display: block;
	width: 100%;
}
.all_buy ul .img{
	height: 0;
	padding-bottom: 100%;	
}
.all_buy ul .img div{
	position: absolute;
    height: 80%;
    width: 100%;
    text-align: center;
}
.all_buy ul .img img{
	height: 100%;
}
.all_buy ul p{
	margin: 0;
	text-align: center;	
	height: 20px;
	line-height: 20px;	
    font-size: 14px;
}
.all_buy ul .name{
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 2px;
}
.all_buy ul .price{
    color: #666;
}
.content .foot_txt{
	font-size: 14px;
    color: #999;
    line-height: 15px;
    height: 15px;
    text-align: center;
    margin: 30px 0 15px;
}