@charset "utf-8";
.zl_te img {
	width: 35px;
	height: 35px;
}

.zl_te {
	padding-right: 5px;
}

.zl_te1 {
	font-size: 14px;
	color: #394050;
}

.zl_t {
	padding-top: 5px
}

.padd {
	padding: 14px 0 13px 0;
}

#bj {
	color: #009CDA;
	padding-top: 3px;
}

.color_ziliao {
	color: #79c22a;
	font-size: 14px;
}

.ziiao_pic {
	padding: 2.4rem 0 1.9rem 2.2rem;
	background: #fff;
	border-top: 1px solid #f0f0f0;
}

.ziiao_pic img {
	width: 6.2rem;
	vertical-align: middle;
}

.xz_text {
	display: block;
	vertical-align: middle;
	padding-left: .3rem;
}