.detailcom .am-header-nav>a+a {
	margin-left: -7px;
}

.detailcom .am-header-right {
	right: 0px;
}

.detailcom .am-header-left {
	left: 0px;
}

.detailcom .shoppingcart {
	right: 70px;
}

.banner .am-slides img {
	/*height: 360px;*/
}

.banner .am-control-nav {
	display: none;
}

.deta {
	position: relative;
	padding: 10px;
	background-color: #FFFFFF;
}

.deta .name {
	height: 38px;
	padding: 4px;
	font-size: 15px;
	color: #262626;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: inline;
	overflow: hidden;
	white-space: normal;
}

.deta .price {
	margin-top: 15px;
	line-height: 1;
	font-size: 20px;
	color: #c33;
	font-weight: 600;
}

.deta .type {
	height: 18px;
	display: inline-block;
	font-size: 9px;
	border: 1px solid #c33;
	color: #c33;
	padding: .0266666667rem .08rem;
	margin: 1px;
	border-radius: 3px;
}

.promotion {
	line-height: 18px;
	background-color: #fff;
	padding: 9.6px;
	border-top: 1px solid #cecece;
	position: relative;
}

.promotion .name {
	width: 28px;
	font-size: 12px;
	color: #646464;
}

.promotion .type {
	width: 21px;
	height: 13.5px;
	line-height: 18px;
	text-align: center;
	font-size: 9px;
	border-radius: 3px;
	background-color: #c33;
	color: #fff;
	vertical-align: middle;
}

.promotion .desc {
	font-size: 12px;
	color: #646464;
	line-height: 18px;
	margin-left: 5.8px;
	vertical-align: middle;
}

.promotion .btn-promotion {
	float: right;
	position: relative;
	padding-right: 15px;
	color: #646464;
	font-size: 10px;
}

.choose-spec {
	background: #fff;
	border-top: 1px solid #dedede;
	font-size: 12px;
	color: #646464;
	padding: 9.6px;
	position: relative;
}

.choose-spec .choose-spec-name {
	position: absolute;
	left: 9px;
	top: 10px;
	display: inline-block;
	height: 100%;
}

.choose-spec .choose-tag {
	text-overflow: ellipsis;
	padding: 0 30px;
	overflow: hidden;
}

.choose-spec .choose-tag .choose-tag-one,
.choose-spec .choose-tag .choose-tag-two {
	height: 18px;
	line-height: 18px;
	display: -webkit-box;
}

.choose-tag .img {
	width: 12px;
	vertical-align: middle;
}

.choose-tag .span {
	vertical-align: middle;
}

.intro-pic {
	width: 100%;
	margin: 9.6px 0;
}

.sellerbox {
	background-color: #FFFFFF;
	padding-left: 9.6px;
}

.selltitle {
	font-size: 12px;
	color: #646464;
	padding: 9.6px 0;
	border-bottom: 1px solid #DEDEDE;
}

.seller .title {
	padding: 5px;
}

.avatar {
	float: left;
	display: block;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	border: 1px solid #dedede;
	position: relative;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url(../img/sell-pic.jpg);
}

.avatar .grade {
	background: url(../img/selllevel.png);
	right: 0;
	bottom: -1px;
	margin-right: -1px;
	position: absolute;
	width: 16px;
	height: 20px;
	background-size: 100% 100%;
}

.seller .info {
	margin-left: 50px;
	height: 38px;
	position: relative;
}

.seller .info .name {
	font-size: 12px;
	color: #383838;
	padding: 0;
}

.seller .info .country-fans {
	text-align: center;
	font-size: 10px;
	color: #9b9b9b;
	position: absolute;
	bottom: 0;
}

.seller .info .country-fans .level {
	padding-right: 5px;
}

.country-fans .level i.hign {
	color: #c33;
	font-style: normal;
}

.seller .info .country {
	padding-right: 5px;
	font-size: 10px;
	color: #646464;
	text-align: right;
	display: inline-block;
	position: relative;
	right: 0px;
	bottom: 0;
}

.seller .info .fanss {
	width: 12px;
	position: relative;
	bottom: 2px;
}

.seller-content {
	padding: 0 9.6px 9.6px 0;
	overflow: hidden;
}

.seller-content .content-item {
	width: 25%;
	overflow: hidden;
	border-right: 1px solid #dedede;
	display: inline-block;
	float: left;
	text-align: center;
	height: 38px;
	font-size: 12px;
	position: relative;
}

.content-item .item-name {
	line-height: 17px;
	color: #646464;
}

.content-item .product-num {
	font-size: 14px;
}

.seller-content .content-item .num {
	font-size: 12px;
	color: #646464;
}

.content-item .num.hign {
	color: #c33;
	font-style: normal;
}

.seller-content .content-item:last-child {
	border: none;
}

.pictitle {
	padding-right: 10px;
	margin-top: 20px;
}

.pictitle .list .item .text {
	word-break: break-all;
	color: #9b9b9b;
	font-size: 12px;
	margin-bottom: 9.6px;
	display: inline-block;
	width: 100%;
}

.pictitle .list .pics img {
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
}

.pic div.picdetail span {
	width: auto;
}

.pic .shopping {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 42px;
	background-color: #FFFFFF;
	border: 1px solid #DEDEDE;
}

.pic .collect {
	width: 35%;
	line-height: 42px;
	font-size: 12px;
	color: #9b9b9b;
}

.pic .incart {
	background-color: #f28f25;
	width: 32.5%;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 42px;
}

.pic .buy {
	width: 32.5%;
	background-color: #c33;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 42px;
}

.shopcart {
	padding: 5px;
	position: fixed;
	bottom: 0;
	top: 50%;
	height: 360px;
}

.message {
	height: 130px;
	border-bottom: 1px solid #DEDEDE;
	position: relative;
}

.mesimg {
	position: relative;
	left: 10px;
	top: 15px;
	width: 96px;
	border: 1px solid #dedede;
}

.mestit {
	padding: 0;
	position: absolute;
	left: 114px;
	top: 20px;
	font-size: 12px;
	width: 218px;
}

.mestit .name {
	font-size: 13px;
}

.message .close {
	font-size: 30px;
	position: absolute;
	right: 10px;
	top: 15px;
	color: #383838;
}

.standard .title {
	padding: 10px 0 10px 10px;
	font-size: 12px;
	color: #646464;
}
.standard{
	padding-bottom: 10px;
	border-bottom: 1px solid #DEDEDE
}
.standard .option {
	font-size: 0;
}

.option .sku {
	display: inline-block;
	background-color: #fff;
	height: 27px;
	padding: 0 10px;
	line-height: 27px;
	color: #646464;
	font-size: 12px;
	text-align: center;
	border: 1px solid #646464;
	border-radius: 5px;
	margin: 5px 5px 0px 5px;
}

.sku.selected{
	background-color: #c33;
	color: #fff;
	border: none;
	position: relative;
}
.btngroup{
	margin-top: 10px;
	margin-right: 10px;
}
.qunatity{
	margin-top: 10px;
}
#btn1,#btn3,#btn2{
	background-color: #FFFFFF;
	border: 1px solid #DEDEDE;
	
}
#btn2{
	text-align: center;
	width: 40px;
	font-style: normal;
	
}
#ok{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #FFFFFF;
	border: none;
	background-color: #c33;
}
