@charset "utf-8";
body {
	background: #f5f5f5;
}

.fl {
	float: left;
}

a:hover,
a:active {
	outline: 0;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.header {
	background: #fff;
	width: 100%;
	position: sticky;
	z-index: 10;
	top: 0;
	left: 0;
	background: #fff;
	border-bottom: 1px solid #DEDEDE;
	height: 40px;
	line-height: 40px;
	padding: 0 5px;
}

.am-header-left span {
	display: inline-block;
	line-height: 24.00px;
	padding-top: 7.00px;
	color: #646464;
	font-size: 12.00px;
}

.am-header-left span.active {
	color: #383838;
	border-bottom: 3px solid #cc3333;
}

.header .right {
	right: 0;
}

.shoppingcart {
	position: absolute;
	right: 30px;
}

.am-slider-a1 .am-control-nav li a {
	display: inline-block;
	border-radius: 50%;
	background: #e6e6e6;
	cursor: pointer;
	box-sizing: border-box;
}

.am-slider-a1 .am-control-nav li a.am-active {
	background-color: #c33;
}

.line {
	text-align: center;
	width: 100%;
	height: 49px;
	background: url(../img/line.png) center no-repeat;
}

.time .title {
	display: inline-block;
	line-height: 49px;
	background-color: #F5F5F5;
}

.time .title img {
	vertical-align: middle;
	width: 18px;
}

.time .title span {
	vertical-align: middle;
	display: inline-block;
	width: 49px;
	overflow: hidden;
	font-size: 16px;
	color: #646464;
	white-space: nowrap;
}

.limited .swiper-slide {
	width: 268px;
}

.limited .swiper-slide .back {
	width: 100%;
	position: relative;
}

.limited .swiper-slide .topper {
	position: absolute;
	left: -3px;
	bottom: 10px;
	width: 130px;
}

.swiper-container {
	width: 100%;
}

.limited.swiper-container {
	background-color: #FFFFFF;
	padding: 10px;
}

.limitime {
	font-size: 15px;
	color: #fff;
	position: absolute;
	left: -1px;
	bottom: 12px;
	width: 130px;
}

.choosen .title span {
	vertical-align: middle;
	display: inline-block;
	width: 66px;
	overflow: hidden;
	font-size: 16px;
	color: #646464;
	white-space: nowrap;
}

.jx .content {
	padding: 8px;
	background-color: #fff;
}

.jx .content img {
	width: 100%;
}

.market.title span {
	vertical-align: middle;
	display: inline-block;
	width: 49px;
	overflow: hidden;
	font-size: 16px;
	color: #646464;
	white-space: nowrap;
}

.backtop {
	right: 20px;
	width: 36px;
}

.backtop .backsize {
	max-width: 36px;
}

.yhj .content {
	padding: 10px;
	background-color: #FFFFFF;
}

.yhj .content .pic {
	display: inline-block;
	width: 50%;
	padding: .1066666667rem;
	box-sizing: border-box;
	float: left;
	overflow: hidden;
	position: relative;
}

.yhj .content img {
	display: inline-block;
	width: 100%;
}

.yhj .content .desc {
	position: absolute;
	right: 15%;
	top: 29%;
}

.yhj .content .desc .name-cn {
	display: block;
	font-size: 14px;
	color: #383838;
}

.yhj .content .desc .name-en {
	font-size: 10px;
	color: #CCCCCC;
}

.eye {
	position: relative;
}

.eye img {
	width: 100%;
	margin-top: 20px;
}

.eye span {
	color: #FFFFFF;
	position: absolute;
	bottom: -7px;
	left: 48%;
}

.eyegood.swiper-container {
	background-color: #FFFFFF;
	padding: 10px;
}

.eyegood .swiper-slide {
	width: 110px;
}

.eyegood .swiper-slide img {
	width: 100px;
	height: 100px;
}

.eyegood .title {
	padding: 3px;
	color: #383838;
	font-size: 12px;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
	white-space: normal;
	float: left;
	width: 100%;
}

.eyegood .price {
	width: 100px;
	color: #c33;
	font-size: 12px;
	float: left;
	text-align: center;
}

.eyegood .price i {
	font-style: normal;
	font-size: 14px;
}

.likegoods {
	margin: 0;
	padding: 5px;
}

.likegood {
	width: 100%;
	border: none;
	margin-bottom: 0;
}

.info {
	position: relative;
	background-color: #FFFFFF;
}

.info .name {
	height: 38px;
	padding: 4px;
	font-size: 12px;
	color: #383838;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
	white-space: normal;
}

.info .info-tag {
	width: 100%;
	padding: 0 5px;
	overflow: hidden;
}

.info .info-tag span {
	height: 18px;
	display: inline-block;
	font-size: 9px;
	border: 1px solid #c33;
	color: #c33;
	padding: .0266666667rem .08rem;
	margin: 1px;
	border-radius: 3px;
}

.info .price {
	line-height: 1;
	font-size: 16px;
	color: #c33;
	padding: 5px;
}

.info .country {
	font-size: 10px;
	color: #646464;
	text-align: right;
	display: inline-block;
	position: absolute;
	right: 10px;
	bottom: 0;
}

.info .country .flag {
	border-radius: 50%;
	margin-right: 3px;
	width: 13px;
	height: 13px;
	margin-bottom: 4px;
}

.loadmore {
	width: 50%;
	margin: 0 25%;
	background-color: #FFFFFF;
	color: #383838;
	border-radius: 10px;
	font-size: 14px;
	height: 28px;
	margin-bottom: 10px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.footer {
	width: 100%;
	overflow: hidden;
	background: #f5f5f5;
	padding-bottom: 20px;
}

.footer .text {
	font-size: 14px;
	color: #646464;
	text-align: center;
}

.footer .text a {
	color: #646464;
	display: inline-block;
	padding: 3px 5px;
}

.footer .desc {
	text-align: center;
	color: #9b9b9b;
	font-size: 12px;
}