.list img{
	margin-top: 0;
}
.top-content{
	background-color: #fff;
}
.listgood{
	margin-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e6e6e6;
}
.listgood .left{
	width: 45%;
	padding: 10px;
	padding-left: 30px;
}
.listgood .left img{
	width: 100%;
}
.listgood .right{
	position: relative;
	width: 40%;
	margin-left: 20px;
}
.listgood .right .name{
	text-overflow: ellipsis;
	color: #666;
	height: 30px;
	line-height: 15px;
    overflow: hidden;
    white-space: normal;
    font-size: 15px;
    margin-bottom: 10px;
}
.listgood .right .country {
	font-size: 10px;
	color: #646464;
	text-align: right;
	display: inline-block;
	position: absolute;
	left: 0;
}

.listgood .right .country .flag {
	border-radius: 50%;
	margin-right: 3px;
	width: 13px;
	height: 13px;
	margin-bottom: 4px;
}
.listgood .right .price{
	margin-top: 25px;
	color: #eb2f49;
	font: bold;
}
.listgood .right .price b{
	font-size: 28px;
}
.listgood .right .buynow{
	width: 80px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	color: #FFFFFF;
	background-color: #eb2f49;
	border: none;
	border-radius: 5px;
}
