.black-cover{
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	z-index: 999;
}
.address-wrap{
	background-color: white;
	height: 70%;
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 1001;
}
.address-wrap .title{
	height: 55px;
	line-height: 55px;
	text-align: center;
	border-bottom: 1px solid #EEEEEE;
}
