/*公共类*/

body {
	/*background-color: #f5f7f6;*/
}

.bg {
	background-color: #f5f7f6;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.am-u-sm-4{
	padding: 0;
}
.am-u-sm-7{
	padding: 0;
}
.relative {
	position: relative;
}

.txt-center {
	text-align: center;
}

.ver-mid {
	vertical-align: middle;
}

.am-thumbnail {
	border: 0px;
	padding: 0px;
	margin: 0px;
}

.separator-bg {
	width: 100%;
	height: 10px;
	background-color: #EEEEEE;
}

p {
	margin: 0;
}

h3 {
	padding: 0;
	margin: 0;
}

.gray {
	color: #a7afc2;
}


/*回顶部*/

.to-top-box {
	height: 40px;
	width: 40px;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	bottom: 0;
	right: 0;
}

.gotoico{
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(../img/gotop.png);
	/*float: left;*/
	margin: 13px 0 0 13px;
}


/*非公共类*/

.head-fixed {
	width: 100%;
	background-color: white;
	height: 44px;
	line-height: 44px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
}

.go-back {
	position: absolute;
	top: 0px;
	left: 20px;
}

.search-box {
	background-color: white;
	border-radius: 5px;
	height: 35px;
	width: 91%;
	margin: 15px auto;
}


/**/

.good-list-title {
	background-color: white;
	height: 44px;
	line-height: 44px;
	font-size: 14px;
	color: #666;
}

.good-list-title:after {
	position: absolute;
	bottom: 0px;
	left: 0;
	content: "";
	border-bottom: 1px solid #EEEEEE;
	width: 100%;
}

.good-list-title li:after {
	position: absolute;
	top: 10px;
	right: 0;
	content: "";
	border-right: 1px solid #EEEEEE;
	height: 25px;
}


/**/

.good-list li {
	padding: .7rem 1rem;
	line-height: 1.9rem;
	width: 100%;
}

.good-list .good-name {
	width: 100%;
	color: #6d6d6d;
	max-height: 36px;
	line-height: 18px;
	height: 36px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-size: 14px;
}

.good-list .good-des {
	width: 69%;
}

.pmonth {
	display: block;
	padding: 5px 0;
	font-size: 16px;
}

.good-list .good-des p {
	color: #929292;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.pmonth {
	color: #666
}

.line {
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
}

.good-kind li {
	margin-bottom: 10px;
}
/*价格雪碧图*/
.icon{
	background-image: url(../img/search_ico--779f436e58.png);
}
.icon-price{
	display: inline-block;
	width: 15px;
	height: 16px;
	background-position: 0 -32px;
	background-size: cover;
}
.icon-price-up{
	display: inline-block;
	width: 15px;
	height: 16px;
	background-position: 0 -16px;
	background-size: cover;
}
.icon-price-down{
	display: inline-block;
	width: 15px;
	height: 16px;
	background-position: 0 0;
	background-size: cover;
}
.icon-sel{
	display: inline-block;
	width: 15px;
	height: 16px;
	background-position: 0 -48px;
	background-size: cover;
}
.icon-sel1{
	display: inline-block;
	width: 15px;
	height: 16px;
	background-position: 0 -64px;
	background-size: cover;
}
em{
	font-style: normal;
	color: #000000;
}
input{
	border: 0;
	outline: 0;
	padding: 2px 15px;
}
.txt14{
	font-size: 14px;
}
.main{
	margin-top: 180px;
}
.search-icon{
	position: absolute;
	top: -4px;
	left: 15px;
}
.good-list-title .tab-tit.active{
	color: #46a1ff;
}
.good-list{
	display: none;
}
.good-list.active{
	display: block;
}
