@charset "utf-8";

/*公共类*/

ul {
	margin: 0;
	padding: 0;
}

ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.relative {
	position: relative;
}

.txt-center {
	text-align: center;
}

.ver-mid {
	vertical-align: middle;
}

.am-thumbnail {
	border: 0px;
	padding: 0px;
	margin: 0px;
}
[class*=am-u-]+[class*=am-u-]:last-child {
     float:left; 
}
/*---------------------------------------*/
.floor-title {
	background-color: white;
	padding: 0 1.5rem;
	height: 5.8rem;
	line-height: 5.8rem;
	text-align: center;
	font-size: 1.7rem;
	color: #394050;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.separator-bg {
	width: 100%;
	height: 10px;
	background-color: #EEEEEE;
}

.separator-line {
	border-bottom: 1px solid #EEEEEE;
	width: 100%;
	margin: 0 auto;
}
/*黑色遮罩*/
.cover{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 10;
	display: none;
	overflow: auto;
}
.right-part{
	background-color: white;
	position: absolute;
	width: 80%;
	height: 100%;
	top: 0;
	/*right: 0;*/
	right: -80%;
	z-index: 20;
	overflow: auto;
	margin-bottom: 50px;
}
.right-part .brand-list .am-thumbnail {
	padding: 1rem;
}
.hidden{
	display: none;
}
ul.active{
	display: block;
}
/*非公共类*/

.bg {
}

.head-fixed {
	height: 55px;
	background-color: white;
}

.search-box {
	width: 85%;
	display: block;
}

.input-search {
	margin-top: 10px;
	width: 100%;
	border-radius: 5px;
	padding: 5px 5px 5px 50px;
	font-size: 14px;
	line-height: 22px;
	color: rgba(57, 64, 80, 0.6);
	border: 1px solid #EEEEEE;
	background-color: #EEEEEE;
}

.icon-search {
	position: absolute;
	top: 6px;
	left: 15px;
}


/*楼层*/

.floor-title {
	height: 4.8rem;
	line-height: 4.8rem;
	text-align: center;
	color: rgba(48, 64, 80, .6);
	font-size: 1.4rem;
}
.brand-list{
	padding-bottom: 20px;
}
.brand-list .am-thumbnail {
	padding: 0.5rem;
}

.brand-list li span {
	font-size: 1.2rem;
	height: 16px;
	line-height: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #394050;
}

.brand-list li {
	margin-bottom: 10px;
}

/*底部导航栏*/

.bottom-bar {
	display: flex;
	left: 0;
	right: 0;
	height: 55px;
	position: fixed;
	bottom: 0;
	background-color: #fafafa;
	border-top: 1px solid #d9d9d9;
	margin: 0 auto;
	box-sizing: border-box;
	z-index: 999;
	width: 100%;
}
.bottom-bar ul{
	width: 100%;
	list-style: none;
	border: 0;
	padding: 0;
}
.bottom-bar ul li{
	width: 20%;
}
.bottom-bar ul li a span{
	display: block;
	margin: 0 auto;
}
.bottom-bar ul li a .pic {
    background-size: 23px;
    background-repeat: no-repeat;
    display: block;
    width: 23px;
    height: 23px;
    position: relative;
}
.blue{
	color: #3B9BFF;
}
.bottom-bar a{
	color: #969696;
    height: 49px;
    text-align: center;
}