@charset "utf-8";
body{
	background-color: #f5f7f6;
}
ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.relative {
	position: relative;
}
.txt-center{
	text-align: center;
}
.ver-mid {
	vertical-align: middle;
}

.am-thumbnail {
	border: 0px;
	padding: 0px;
	margin: 0px;
}
.txt12{
	font-size: 12px;
}
.txt14{
	font-size: 14px;
}
.gray {
	color: #a7afc2;
}

.blue {
	color: #3b9bff;
}
.bg-wrap{
	background-color: white;
}
.head_le {
	background-color: #fff;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 999;
	font-weight: 500;
	font-size: 17px;
	color: #394050;
	line-height: 44px;
	text-align: center;
}

.news-box {
	position: fixed;
	top: 66px;
	left: 0;
	right: 0;
	background-color: #fff5be;
	z-index: 20;
}

.news-box p.t1 {
	position: relative;
	padding-left: 2rem;
	/* padding-top: 1rem; */
	margin-top: 0px;
}

.news-box img {
	width: 12px;
	position: absolute;
	top: 10px;
	left: 1rem;
	z-index: 5;
}

.bann {
	background: url(https://cres2.fenqile.cn/vip_m/img/lecard/lc_blue_bg--3bce9c67e9.png) center;
	height: 195px;
	margin: 6.6rem 2.8rem 0;
	position: relative;
}

.inner {
	position: relative;
	height: 166px;
	margin: 0 1.4rem;
}

.inner .top-a {
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	height: 83px;
}

.amount {
	display: block;
	padding-top: 1.5rem;
	font-size: 13px;
	color: rgba(255, 255, 255, .8);
}

.use {
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.amount .credit {
	position: relative;
}

.amount .side-red-point:after {
	content: ' ';
	position: absolute;
	width: .6rem;
	height: .6rem;
	background: red;
	border-radius: 50%;
	right: -1rem;
}

.amount .num {
	margin-top: -4px;
	font-size: 32px;
	font-family: DINPro-Medium;
	color: #fff;
	text-shadow: 0 1px 1px rgba(67, 152, 241, .98);
}

.amount .num .em {
	font-size: 15px;
	line-height: 30px;
	vertical-align: text-top;
}

.amount .num {
	margin-top: -4px;
	font-size: 32px;
	font-family: DINPro-Medium;
	color: #fff;
	text-shadow: 0 1px 1px rgba(67, 152, 241, .98);
}

.change-cardid {
	position: relative;
	display: inline-block;
	overflow: hidden;
	margin-top: 27px;
}

.amount .cardid {
	position: relative;
	display: inline-block;
	padding: 5px 0;
	font-size: 9px;
	font-family: Farrington-7B-Qiqi-;
	color: rgba(255, 255, 255, .9);
	letter-spacing: 1px;
	text-shadow: 0.5px 0.5px 0 #2c83de;
}

.upgrade {
	position: absolute;
	left: 0;
	/*bottom: 1rem;*/
	width: 100%;
	height: 34px;
	font-size: 13px;
	line-height: 34px;
	background: rgba(255, 255, 255, .6);
	box-shadow: inset 0 0 0 0 #dfe2e9;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.upgrade .l-txt {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 3.4rem;
	line-height: 3.4rem;
	overflow: hidden;
}

.inner .bottom-a {
	position: absolute;
	left: 0;
	right: 0;
	height: 83px;
	z-index: 10;
	bottom: -9px;
}

.upgrade .u-piece {
	display: block;
	padding: 0 2rem 0 1rem;
	color: #323c55;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.i-matt {
	display: inline-block;
	width: 1.9rem;
	height: 1.4rem;
	margin-right: .5rem;
	vertical-align: -2px;
	background: url(http://cres.fenqile.cn/pay_m/img/result/lbc_ico_n.png) no-repeat;
	background-size: 100% 100%;
}

.upgrade .u-piece {
	display: block;
	padding: 0 2rem 0 1rem;
	color: #323c55;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 1px;
}

.amount .credit {
	position: relative;
	margin-top: 0;
}

.amount p {
	margin-bottom: 0;
}

.amount .cardid {
	position: relative;
	display: inline-block;
	padding: 5px 0;
	font-size: 13px;
	font-family: Farrington-7B-Qiqi-;
	color: rgba(255, 255, 255, .9);
	letter-spacing: 1px;
	text-shadow: 0.5px 0.5px 0 #2c83de;
}

.u-piece {
	margin-top: -33px;
}

.upgrade:after {
	content: "";
	position: absolute;
	right: 1rem;
	top: 50%;
	display: inline-block;
	width: .8rem;
	height: .8rem;
	margin-top: -.4rem;
	border: 1px solid #7f8594;
	border-width: 1px 1px 0 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.zdall {
	background-color: #FFFFFF;
	text-align: center;
	padding: 2.2rem 4.2rem;
	font-size: 13px;
	color: #7f8594;
}

.huan {
	font-size: 18px;
	color: #323c55;
}

.tx {
	padding-top: 13px;
}

.tx:after {
	content: "";
	position: absolute;
	right: -1rem;
	top: 50%;
	display: inline-block;
	width: .8rem;
	height: .8rem;
	margin-top: 0.3rem;
	border: 1px solid #7f8594;
	border-width: 1px 1px 0 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.kuai_item {
	text-align: center;
}

.kuai_item .am-g {
	margin-left: 0;
	margin-right: 0;
}

.kuai_item .am-u-sm-6 {
	padding: 3rem .5rem 2.4rem;
}

.tu img {
	display: block;
	height: auto;
	width: 44px;
	margin: 0 auto;
}

.le_ti {
	/*margin-bottom: .4rem;*/
	font-size: 14px;
	color: #394050;
}

.le_ite {
	font-size: 13px;
	text-align: center;
	/*line-height: 16px;*/
	color: #7f8594;
}
.tetred{
	font-size: 13px;
	text-align: center;
	color: #FE4979;
}
.tit:before {
	content: "";
	position: absolute;
	display: inline-block;
	background-color: #dfe2e9;
	top: 0;
	width: 1px;
	height: 100%;
	-webkit-transform: scale(.5, 1);
	transform: scale(.5, 1);
	right: 0;
}

.tit:after {
	content: "";
	position: absolute;
	display: inline-block;
	background-color: #dfe2e9;
	left: 0;
	width: 100%;
	height: 1px;
	-webkit-transform: scale(1, .5);
	transform: scale(1, .5);
	bottom: 0;
}
.kuai_item{
	margin-bottom: 15px;
}
/*底部导航栏*/

.bottom-bar {
	display: flex;
	left: 0;
	right: 0;
	height: 55px;
	position: fixed;
	bottom: 0;
	background-color: #fafafa;
	border-top: 1px solid #d9d9d9;
	margin: 0 auto;
	box-sizing: border-box;
	z-index: 999;
	width: 100%;
}
.bottom-bar ul{
	width: 100%;
	list-style: none;
	border: 0;
	padding: 0;
}
.bottom-bar ul li{
	width: 20%;
}
.bottom-bar ul li a span{
	display: block;
	margin: 0 auto;
}
.bottom-bar ul li a .pic {
    background-size: 23px;
    background-repeat: no-repeat;
    display: block;
    width: 23px;
    height: 23px;
    position: relative;
}
.blue{
	color: #3B9BFF;
}
.bottom-bar a{
	color: #969696;
    height: 49px;
    text-align: center;
}
.bottom-pad{
	height: 55px;
}
.bg-white{
	background-color: white;
}
.top2{
	margin-top: 10px;
}

