@charset "utf-8";

/*公共类*/

ul {
	margin: 0;
	padding: 0;
}

ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.relative {
	position: relative;
}

.txt-center {
	text-align: center;
}

.ver-mid {
	vertical-align: middle;
}

.am-thumbnail {
	border: 0px;
	padding: 0px;
	margin: 0px;
}


/**/

#vld-tooltip {
	position: absolute;
	z-index: 1000;
	padding: 5px 10px;
	/*background: #F37B1D;*/
	background: rgba(0, 0, 0, 0.5);
	min-width: 150px;
	color: #fff;
	transition: all 0.15s;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	display: none;
}

#vld-tooltip:before {
	position: absolute;
	top: -8px;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -8px;
	content: "";
	border-width: 0 8px 8px;
	border-color: transparent transparent rgba(0, 0, 0, 0.5);
	border-style: none inset solid;
}


/*非公共类*/

.logo-banner {
	background: #3b9bff;
	height: 200px;
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}


/*验证表单*/
form{
	margin-top: 30px;
	font-size: 14px;
}
input{
	border: 0;
	outline: 0;
}
.am-form .am-form-group input {
	padding-left: 50px;
}

.icon {
	background-image: url(../img/icons--ab188f470a.png);
}

.icon-user {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	background-size: 4.2rem auto;
	margin-right: 1.5rem;
	background-position: 0 0;
	position: absolute;
	top: 8px;
	left: 20px;
}

.icon-pwd {
	display: inline-block;
	width: 1.5rem;
	height: 2rem;
	background-size: 4.2rem auto;
	margin-right: 1.5rem;
	background-position: -2.57rem 0;
	position: absolute;
	top: 8px;
	left: 20px;
}

.icon-code {
	display: inline-block;
	width: 2rem;
	height: 1.5rem;
	background-size: 4.2rem auto;
	margin-right: 1.5rem;
	background-position: 0.2rem -7.2rem;
	position: absolute;
	top: 8px;
	left: 20px;
}

form button.am-btn {
	display: block;
	vertical-align: middle;
	font-size: 1.6rem;
	line-height: 1.6rem;
	border-radius: 6px;
	width: 96%;
	padding: 1.35rem 0;
	background-color: #44a0ff;
	color: #fff;
	border: 1px solid #0487e3;
	box-sizing: border-box;
	margin: 0 auto;
}


/*验证码*/

#v_container {
	position: absolute;
	top: 4px;
	right: 10px;
}


/*验证*/

.am-field-valid,
.am-form-success .am-form-field {
	/*border-color: #5eb95e!important;*/
	border: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}


/*去注册*/

.to-res {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	border-top: 1px solid #eaeaea;
	padding: 1.5rem 0;
	margin: 0 auto;
	min-width: 320px;
	max-width: 750px;
	box-sizing: border-box;
	margin-top: 6.2rem;
	z-index: -1;
}