@charset "utf-8";
ul {
	margin: 0;
	padding: 0;
}

ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.relative {
	position: relative;
}

.txt-center {
	text-align: center;
}

.ver-mid {
	vertical-align: middle;
}
.txt14{
	font-size: 14px;
}
.txt12{
	font-size:12px ;
}

/*.am-thumbnail {
	border: 0px;
	padding: 0px;
	margin: 0px;
}*/

p {
	margin: 0;
}

h3 {
	padding: 0;
	margin: 0;
}

.gray {
	color: #a7afc2;
}

.blue {
	color: #3b9bff;
}
.bg-white{
	background-color: white;
}
.separator-bg {
	width: 100%;
	height: 10px;
	background-color: #f5f7f6;
}

.am-thumbnail {
	border: 0px;
	margin: 0px;
	border: 0px;
}
.am-nav-tabs>li>a{
	margin: 0px;
	padding: 0px;
}
.am-nav>li>a{
	padding: 0px;
}
.bg{
	background-color: white;
	width: 100%;
	overflow: hidden;
}
.head{
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
    color: #394050;
}
.go-back{
	position: absolute;
	top: 0px;
	left: 15px;
	color: #b9b9b9;
}
.am-u-sm-2{
	padding:0 ;
	padding-left: 10px;
}
.am-u-sm-9{
	padding:0 ;
}
/**/
.my-info li{
	height: 55px;
	line-height: 50px;
}
.my-info li:after{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0;
	border: 1px solid #EEEEEE;
	width: 100%;
}
.my-info li>div>span{
	font-size: 14px;
}
.my-info li input{
	border: 0;
	outline: 0;
	font-size: 14PX;
}



/*表单验证*/
/*==========以下部分是Validform必须的===========*/

.Validform_checktip {
	margin-left: 8px;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	color: #999;
	font-size: 12px;
}

.Validform_right {
	color: #71b83d;
	padding-left: 20px;
	background: url(../images/right.png) no-repeat left center;
}

.Validform_wrong {
	color: red;
	padding-left: 20px;
	white-space: nowrap;
	background: url(../images/error.png) no-repeat left center;
}

.Validform_loading {
	padding-left: 20px;
	background: url(../images/onLoad.gif) no-repeat left center;
}

.Validform_error {
	background-color: #ffe7e7;
}

#Validform_msg {
	color: #7d8289;
	font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
	width: 280px;
	-webkit-box-shadow: 2px 2px 3px #aaa;
	-moz-box-shadow: 2px 2px 3px #aaa;
	background: #fff;
	position: absolute;
	top: 0px;
	right: 50px;
	z-index: 99999;
	display: none;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');
}

#Validform_msg .iframe {
	position: absolute;
	left: 0px;
	top: -1px;
	z-index: -1;
}

#Validform_msg .Validform_title {
	line-height: 25px;
	height: 25px;
	text-align: left;
	font-weight: bold;
	padding: 0 8px;
	color: #fff;
	position: relative;
	background-color: #000;
}

#Validform_msg a.Validform_close:link,
#Validform_msg a.Validform_close:visited {
	line-height: 22px;
	position: absolute;
	right: 8px;
	top: 0px;
	color: #fff;
	text-decoration: none;
}

#Validform_msg a.Validform_close:hover {
	color: #cc0;
}

#Validform_msg .Validform_info {
	padding: 8px;
	border: 1px solid #000;
	border-top: none;
	text-align: left;
}

/*提示框*/
.tips-box{
	position: fixed;
	width: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 100;
	/*top: 500px;
	left: 100px;*/
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	color: white;
	border-radius: 5px;
	display: none;
}
