/*公共类*/

body {
	background-color: #f5f7f6;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.relative {
	position: relative;
}

.txt-center {
	text-align: center;
}

.ver-mid {
	vertical-align: middle;
}
.txt14{
	font-size: 14px;
}
.txt12{
	font-size:12px ;
}

/*.am-thumbnail {
	border: 0px;
	padding: 0px;
	margin: 0px;
}*/

p {
	margin: 0;
}

h3 {
	padding: 0;
	margin: 0;
}

.gray {
	color: #a7afc2;
}

.blue {
	color: #3b9bff;
}

.separator-bg {
	width: 100%;
	height: 10px;
	background-color: #f5f7f6;
}

.am-thumbnail {
	border: 0px;
	margin: 0px;
	border: 0px;
}
.am-nav-tabs>li>a{
	margin: 0px;
	padding: 0px;
}
.am-nav>li>a{
	padding: 0px;
}
/*非公共类*/


/*取现收藏提示框*/

.cancel-tip {
	width: 70%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	color: white;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-size: 14px;
	z-index: 9999;
	display: none;
}


/*头部*/

.head-fixed {
	width: 100%;
	background-color: white;
	height: 44px;
	line-height: 44px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}

.go-back {
	position: absolute;
	top: 0px;
	left: 20px;
}


/*选项卡*/


/*选项卡头*/

#tab-title {
	padding-top: 20px;
}

.am-nav-tabs>li.am-active>a,
.am-nav-tabs>li.am-active>a:focus,
.am-nav-tabs>li.am-active>a:hover {
	border: 0px;
	color: #579de7;
	border-bottom: 2px solid #579de7;
	background-color: #fff;
	cursor: default;
}
.am-tabs-bd .am-tab-panel {
	padding: 0;
}
.am-tabs-bd{
	border: 0px;
}
.tab-title {
	background-color: white;
}
.tab-title a{
	display: block;
	padding-bottom: 10px;
	color: #5f6874;
}
.am-nav-tabs>li.am-active>a, .am-nav-tabs>li.am-active>a:focus, .am-nav-tabs>li.am-active>a:hover {
    padding-bottom: 10px;
}

/*选项卡身体*/

/*全部订单*/

.am-table-bd {
	background-color: white;
}
.order-title{
	background-color: white;
	padding: 14px 15px;
    color: #2c2c2c;
    font-size: 14px;
    border-bottom: 1px solid #EEEEEE;
}
.order-detail{
	padding: 14px 15px;
	border-bottom: 1px solid #EEEEEE;
}
.order-detail .am-thumbnail{
	border: 1px solid #EEEEEE;
	padding: 0.5rem;
	background-color: #f5f7f6;
	border-radius: 3px;
}
.order-detail .item-txt{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 42px;
    line-height: 20px;
    font-size: 13px;
    color: #5f6874;
    margin-top: -23px;
}
.pmonth{
	background-color: white;
	padding: 14px 15px;
    color: #2c2c2c;
    border-bottom: 1px solid #EEEEEE;
}
.btn-box{
	background-color: white;
	padding: 14px 15px;
    color: #2c2c2c;
    border-bottom: 1px solid #EEEEEE;
    font-size: 12px;
}
.btn-active{
	background-color:#3b9bff;
	color: white;
}
.btn-box a{
	display: inline-block;
	padding: 4px 3px;
	border: 1px solid #EEEEEE;
	border-radius: 3px;
}
/*收藏店铺*/

/*没有订单*/
.no-order img{
	display:  inline-block;
	margin-top: 100px;
}
.return-old{
	display: block;
	margin: 80px auto;
	width: 150px;
	height: 40px;
	line-height: 40px;
	background-color: white;
}