@charset "utf-8";
/*公共类*/
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
form{
	height: 100%;
}
ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.page-1{
	background-color: white;
	height: 100%;
	/*overflow: hidden;*/
}
.relative {
	position: relative;
}
.txt-center{
	text-align: center;
}
.ver-mid {
	vertical-align: middle;
}

.am-thumbnail {
	border: 0px;
	padding: 0px;
	margin: 0px;
}
.txt12{
	font-size: 12px;
}
.txt14{
	font-size: 14px;
}
.gray {
	color: #a7afc2;
}

.blue {
	color: #3b9bff;
}
.bg-wrap{
	background-color: white;
}
/*非公共类*/
.page-1 .head-fixed{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 44px;
	line-height: 44px;
	color: white;
	background-color: #3b9bff;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid rgba(255,255,255,0.6);
}
.page-1 .go-back{
	position: absolute;
	top: 0;
	left: 20px;
	color: white;
}
.page-1 .logo-banner{
	margin-top: 44px;
	background: #3b9bff;
    height: 16.5rem;
    width: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
.page-1 .form-new{
	margin-top: 2.4rem;
}
.page-1 .icon {
	background-image: url(../img/icons--ab188f470a.png);
}

.page-1 .icon-mobile {
	display: inline-block;
	width: 20px;
	height: 2rem;
	background-size: 4.2rem auto;
	margin-right: 1.5rem;
	background-position: 0px -2rem;
	position: absolute;
	top: -10px;
	left: 20px;
}

.page-1 .icon-sms {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	background-size: 4.2rem auto;
	margin-right: 1.5rem;
	background-position: -2.45rem -2rem;
	position: absolute;
	top: -8px;
	left: 20px;
}

.page-1 .icon-code {
	display: inline-block;
	width: 2rem;
	height: 1.5rem;
	background-size: 4.2rem auto;
	margin-right: 1.5rem;
	background-position: 0.2rem -7.2rem;
	position: absolute;
	top: -5px;
	left: 20px;
}
.page-1 .register-benefit{
	margin-top: 100px;
	text-align: center;
}
.page-1 .register-benefit li{
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	padding: 0px 5px;
}
.page-1 .reg-ico-01{
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	background-size: 4.2rem auto;
	background-position:0 -5.7rem;
	position: relative;
	top: 5px;
	left: 0;
}
.page-1 .reg-ico-02{
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	background-size: 4.2rem auto;

	background-position:-1.5rem -5.7rem;
	position: relative;
	top: 5px;
	left: 0;
}
.page-1 .reg-ico-03{
	display: inline-block;
	width: 1.2rem;
	height: 1.4rem;
	background-size: 4.2rem auto;

	background-position:-3rem -5.7rem;
	position: relative;
	top: 5px;
	left: 0;
}

.page-1 .form-new li.form-input {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: box;
    -webkit-box-align: center;
    box-align: center;
}

.page-1 .form-new li {
    background-color: #fff;
    border-bottom: 1px solid #e8eaee;
    list-style: none;
    padding: .6rem 1.5rem .6rem 0;
    font-size: 1.4rem;
    color: #5f6874;
    /*margin-left: 1.5rem;*/
    box-sizing: border-box;
}

.page-1 .form-new li.form-input input {
	display: block;
    border: 0;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 3.2rem; 
    padding: .8rem 0;
    box-sizing: border-box;
    line-height: 1.8rem;
    text-align: left;
    color: #535c68;
    font-size: 1.4rem;
    display: inline-block;
    outline: 0;
}



.page-1 .am-btn {
    display: block;
    vertical-align: middle;
    font-size: 1.6rem;
    line-height: 1.6rem;
    border-radius: 6px;
    width: 90%;
    padding: 1.35rem 0;
    background-color: #44a0ff;
    color: #fff;
    border: 1px solid #0487e3;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 20px;
}
.page-1 .get-code{
	position: absolute;
	top: 15px;
	right: 15px;
}
.page-1 #v_container{
	position: absolute;
	top: 10px;
	right: 15px;
}
/*表单验证*/
/*表单验证*/
/*==========以下部分是Validform必须的===========*/

.Validform_checktip {
	margin-left: 8px;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	color: #999;
	font-size: 12px;
}

.Validform_right {
	color: #71b83d;
	padding-left: 20px;
	background: url(../images/right.png) no-repeat left center;
}

.Validform_wrong {
	color: red;
	padding-left: 20px;
	white-space: nowrap;
	background: url(../images/error.png) no-repeat left center;
}

.Validform_loading {
	padding-left: 20px;
	background: url(../images/onLoad.gif) no-repeat left center;
}

.Validform_error {
	background-color: #ffe7e7;
}

#Validform_msg {
	color: #7d8289;
	font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
	width: 280px;
	-webkit-box-shadow: 2px 2px 3px #aaa;
	-moz-box-shadow: 2px 2px 3px #aaa;
	background: #fff;
	position: absolute;
	top: 0px;
	right: 50px;
	z-index: 99999;
	display: none;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');
}

#Validform_msg .iframe {
	position: absolute;
	left: 0px;
	top: -1px;
	z-index: -1;
}

#Validform_msg .Validform_title {
	line-height: 25px;
	height: 25px;
	text-align: left;
	font-weight: bold;
	padding: 0 8px;
	color: #fff;
	position: relative;
	background-color: #000;
}

#Validform_msg a.Validform_close:link,
#Validform_msg a.Validform_close:visited {
	line-height: 22px;
	position: absolute;
	right: 8px;
	top: 0px;
	color: #fff;
	text-decoration: none;
}

#Validform_msg a.Validform_close:hover {
	color: #cc0;
}

#Validform_msg .Validform_info {
	padding: 8px;
	border: 1px solid #000;
	border-top: none;
	text-align: left;
}

/*提示框*/
.tips-box{
	position: fixed;
	width: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 100;
	/*top: 500px;
	left: 100px;*/
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	color: white;
	border-radius: 5px;
	display: none;
}