@charset "utf-8";
/*公共类*/

ul {
	margin: 0;
	padding: 0;
}

ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.relative {
	position: relative;
}

.txt-center {
	text-align: center;
}

.ver-mid {
	vertical-align: middle;
}

.am-thumbnail {
	border: 0px;
	padding: 0px;
	margin: 0px;
}
/**/
.head a{
	line-height: 30px;
    font-size: 1.4rem;
    color: rgba(48,64,80,.6);
}
.input-search {
	margin-top: 10px;
	width: 134%;
	border-radius: 8px;
	padding: 5px 5px 5px 50px;
	font-size: 14px;
	line-height: 22px;
	color: rgba(57, 64, 80, 0.6);
	background-color: #EEEEEE;
	outline: 0;
	border: 0;
}

.icon-search {
	position: absolute;
	top: 12px;
	left: 15px;
}
.title{
	font-size: 1.2rem;
    color: rgba(48,64,80,.6);
}
.refresh {
    display: block;
    width: 1.6rem;
    height: 1.4rem;
    background: url(//cres2.fenqile.cn/fenqile_m/img/app/search/refresh_icon--8a7680860a.png) no-repeat center;
    background-size: contain;
}
.server-list{
	
}
.search-list .search-item a{
	display: block;
	border-radius: .4rem;
    height: 2.8rem;
    line-height: 2.8rem;
    font-size: 1.3rem;
    color: rgba(48,64,80,.8);
    padding: 0 2.2rem;
    background: rgba(237,237,237,.8);
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;;
}
.search-item{
	margin: 1.2rem 1.2rem 0 0
}
