@charset "utf-8";
html{
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	
	background-color: #f5f7f6;
	color: #394050;
}

/*公共类*/

.am-u-sm-1,
.am-u-sm-2,
.am-u-sm-3,
.am-u-sm-4,
.am-u-sm-5,
.am-u-sm-6,
.am-u-sm-7,
.am-u-sm-8,
.am-u-sm-9,
.am-u-sm-10,
.am-u-sm-11,
.am-u-sm-12 {
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul>li>ul {
	margin: 0;
}

.relative {
	position: relative;
}

.txt-center {
	text-align: center;
}

.ver-mid {
	vertical-align: middle;
}

.separator-bg {
	width: 100%;
	height: 10px;
	background-color: #f5f7f6;
}

.am-thumbnail {
	border: 0px;
	padding: 0px;
	margin: 0px;
}

.txt14 {
	font-size: 14px;
}

.txt12 {
	font-size: 12px;
}
.gray1{
	color: #394050;
}
.gray {
	color: #a7afc2;
}
.gray2{
	color:rgba(57,64,80,.6) ; 
}
.blue {
	color: #3b9bff;
}

p {
	border: 0;
	margin: 0;
}

h3 {
	padding: 0;
	margin: 0;
}
.pad-20{
	padding: 0 15px;
}
.bg-wrap{
	background-color: white;
}
.padding-20{
	padding: 0 20px;
}
/*黑色遮罩*/
.tips-cover{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	display: none;
}
.cover-box{
	position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1002;
    width: 280px;
    /*height: 100px;*/
    margin: 0 auto;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    background: #fff;
    border-radius: 4px;
    font-size: 1.4rem;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.17);
}
.cover-box .title{
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 14px;
}
.cover-box .btn-box{
	border-top: 1px solid #EEEEEE;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
}
.cover-box .cancel-btn{
	width: 50%;
	text-align: center;
	border-right: 1px solid #EEEEEE;
}
.cover-box .ok-btn{
	width: 50%;
	text-align: center;
}
/*至少保留一个*/
.tips-cover1{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	display: none;
}
.cover-box1{
	position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1002;
    width: 280px;
    /*height: 100px;*/
    margin: 0 auto;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    background: #fff;
    border-radius: 4px;
    font-size: 1.4rem;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.17);
}
.cover-box1 .title{
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 14px;
}
.cover-box1 .btn-box{
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	border-top: 1px solid #EEEEEE;
}
.cover-box1 .ok-btn1{
	width: 100%;
	text-align: center;
}
/*头部*/

.head-fixed {
	width: 100%;
	background-color: white;
	height: 44px;
	line-height: 44px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 111;
	border-bottom:1px solid #EEEEEE ;
}

.go-back {
	position: absolute;
	top: 0px;
	left: 20px;
}
.manage{
	position: absolute;
	top: 0;
	right: 20px;
}
/*收货地址列表*/
.address-list{
	/*padding: 0px 20px;*/
}
.manage-box{
	margin-bottom: 10px;
}
.address-top-box{
	padding: 20px;
} 
.person-address{
	padding-top: 25px;
}
.address-top-box:after{
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	border-bottom: 1px solid #EEEEEE;
	width: 100%;
}
.manage-box{
	height: 48px;
	line-height: 48px;
}
.person-default-logo{
	padding: 2px 3px;
}
.person-default-logo.logo-active{
	display: inline-block;
}
.person-default-logo{
	display: none;
}

.person-default-logo:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #007AFF;
	width: 100%;
	height: 100%;
	border-radius: 3px;
}
.default-btn-icon{
	/*display: inline-block;*/
	display: block;
	margin-top: 15px;
	margin-right: 8px;
	width: 16px;
    height: 16px;
    border: 1px solid #a7afc2;
    border-radius: 50%;
    overflow: hidden;
}
.default-btn-icon.active{
	background-color: #3b9bff;
	border: 1px solid #3b9bff ;
	border-color:#3b9bff ;
}
.default-btn-icon.active:after{
	content: "";
	border: 1px solid white;
	position: absolute;
	overflow: hidden;
	width: 15px;
	height: 7px;
	top: 0px;
	left: 1px;
	transform: rotate(135deg);
	border-width: 1px 1px 0 0;
}
/*添加新地址*/
.add-new{
	position: fixed;
	bottom: 0px;
	left:0px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	width: 100%;
}
/*添加新地址*/
.mod-wrap {
    position: relative;
    background: #fff;
    padding: 0 1.5rem;
    margin-bottom: .8rem;
}
.mod-input-wrap {
    position: relative;
    padding: 7.62px 0;
    font-size: 1.4rem;
    list-style: none;
    background: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: box;
    -webkit-box-align: center;
    box-align: center;
    vertical-align: middle;
    line-height: 4.2rem;
    height: 5.2rem;
}
.mod-list-wrap {
    position: relative;
    padding: 7.62px 0;
    font-size: 1.4rem;
    list-style: none;
    background: #fff;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    box-align: center;
    vertical-align: middle;
    line-height: 4.2rem;
    height: 5.2rem;
}
.mod-label {
    display: block;
    width: 11rem;
    padding-right: 4.4rem;
    color: #394050;
    white-space: nowrap;
}
.mod-input-wrap .mod-input {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.mod-input-row {
    color: #394050;
    box-sizing: border-box;
    width: 100%;
    border: 0;
    text-align: left;
    font-size: 1.4rem;
    -webkit-appearance: none;
    line-height: 1.9rem;
    outline: 0;
}

.mod-list-text {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 3.2rem;
    line-height: 4.2rem;
    color: #394050;
}
.mod-input-wrap:before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: " ";
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #e8eaee;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}
.mod-list-wrap:before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: " ";
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #e8eaee;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}
.mod-list-wrap .mod-list-text .select-diy-text i {
    display: block;
    width: 8px;
    height: 8px;
    border-color: #a7afc2;
    border-style: solid;
    border-width: 2px 2px 0 0;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 1.6rem;
    right: 0;
}
.mod-textarea-wrap {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.5rem 0;
}
.mod-textarea-wrap textarea {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    border: 0;
    margin: 0;
    min-height: 70px;
    font-size: 1.4rem;
    outline: 0;
    resize: none;
    color: #394050;
    line-height: 18px;
    -moz-appearance: none;
    box-sizing: border-box;
}


/**/
/*表单验证*/
/*==========以下部分是Validform必须的===========*/

.Validform_checktip {
	margin-left: 8px;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	color: #999;
	font-size: 12px;
}

.Validform_right {
	color: #71b83d;
	padding-left: 20px;
	background: url(../images/right.png) no-repeat left center;
}

.Validform_wrong {
	color: red;
	padding-left: 20px;
	white-space: nowrap;
	background: url(../images/error.png) no-repeat left center;
}

.Validform_loading {
	padding-left: 20px;
	background: url(../images/onLoad.gif) no-repeat left center;
}

.Validform_error {
	background-color: #ffe7e7;
}

#Validform_msg {
	color: #7d8289;
	font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
	width: 280px;
	-webkit-box-shadow: 2px 2px 3px #aaa;
	-moz-box-shadow: 2px 2px 3px #aaa;
	background: #fff;
	position: absolute;
	top: 0px;
	right: 50px;
	z-index: 99999;
	display: none;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');
}

#Validform_msg .iframe {
	position: absolute;
	left: 0px;
	top: -1px;
	z-index: -1;
}

#Validform_msg .Validform_title {
	line-height: 25px;
	height: 25px;
	text-align: left;
	font-weight: bold;
	padding: 0 8px;
	color: #fff;
	position: relative;
	background-color: #000;
}

#Validform_msg a.Validform_close:link,
#Validform_msg a.Validform_close:visited {
	line-height: 22px;
	position: absolute;
	right: 8px;
	top: 0px;
	color: #fff;
	text-decoration: none;
}

#Validform_msg a.Validform_close:hover {
	color: #cc0;
}

#Validform_msg .Validform_info {
	padding: 8px;
	border: 1px solid #000;
	border-top: none;
	text-align: left;
}
/*提示框*/
.tips-box{
	position: fixed;
	width: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 100;
	/*top: 500px;
	left: 100px;*/
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	color: white;
	border-radius: 5px;
	display: none;
}

/**/
.page-2{
	display: none;
}
.page-3{
	display: none;
}
.page-4{
	display: none;
}
.new-address-box{
	margin-top: 25px;
}
#baocun-btn2{
	position: absolute;
	top: -33px;
	right:20px;
	z-index: 500;
}
#baocun-btn1{
	position: absolute;
	top: -33px;
	right:20px;
	z-index: 500;
}
